

// --------------------------------------------------------------------------
// ARTICLES
// --------------------------------------------------------------------------


.Article + .Article {
    margin-top: $space * 1.5;
}

.FlexEmbed + .Article {
    margin-top: $spaceTitle;
}

blockquote {
    margin: $VertRhythmSpace auto;
    max-width: 80%;
}

.Article-title {
    @include Summary();
    margin-bottom: $space * 0.1;

    + .Article-data {
        // transform: translateY(-($space * 0.75));
        margin-bottom: 0;
    }
}

.Article-data,
.Article-time,
.Article-tags {
    @include Meta();
}

.Article-separator {
    letter-spacing: 0.1em;
}

.Article-data {
    margin-bottom: rem(2);

    // data separator
    > span {
        // letter-spacing: 0.1em;
    }

    + p {
        margin-top: $m-space * 1.25;
        @include respond-to(sm) { margin-top: $space * 1.25; }
    }
}

.Article-tags {
    // letter-spacing: 0;
}

.Article-lede {
    @include Lede();
}


// Article author
// --------------------------------------------------------------------------

.Article-footer {
    // background-color: rgba($color-grey,0.08);
    // padding: $space * 0.5;

    // border-top: 1px solid rgba($color-grey-base,0.25);
    border-top: 1px solid $color-grey;
    border-bottom: 1px solid $color-grey;
    margin-top: $spaceTitle * 0.5;
    padding: $space * 0.75 0;

    p {
        color: $color-grey;
        // color: $color-grey-base;
    }

    a {
        @include u-link($linkRuleGrey);
    }
}

.Article-authorImage {
    // border-radius: 50%;
    filter: grayscale(100%);
    float: left;
    margin-right: $space * 0.75;
    width: rem(130);

    > img {
        border-radius: 50%;
    }
}



// Figure
// --------------------------------------------------------------------------

$realignGridRight: calc( ((#{$columnText} + #{$spaceTitle}) - #{$columnPicture} - #{$space--X2}) );
$realignGridLeft:  calc(  -#{$spaceTitle} - #{$space--X2}  );
$realignGridAuto:  calc( (#{$columnText} - (#{$columnPicture} + #{$space--X4})) * 0.5  );

figure {

    &:not(:first-child) { margin-top: $space--X2; }
    &:not(:last-child) { margin-bottom: $space--X2; }

    &.lg {
        // margin: 0 calc((#{$columnText} - #{$columnWidePicture}) / 2);
        margin: 0 -$space 0 -$space;
        &:not(:first-child) { margin-top: $space--X2; }
        &:not(:last-child) { margin-bottom: $space--X2; }

        @include respond-to(sm) {
            // margin: 0 $realignGridRight 0 $realignGridLeft;
            margin: 0 $realignGridAuto;
        }
    }

    @include respond-to(sm) {
        &.sm {
            margin: 0 $space * 2;
            &:not(:first-child) { margin-top: $space--X2; }
            &:not(:last-child) { margin-bottom: $space--X2; }
        }
    }

    &.stroked {
        img,
        video {
            border: 1px solid rgba($color-text,0.15);
            // overflow: hidden;
        }
    }
}

figcaption {
    @include Meta($display: block);
    max-width: $columnText;
    margin: $space * 0.5 auto 0;
}


// Checklist (Approach page)
// --------------------------------------------------------------------------

.Article-checklist {
    // margin-left: $space * 0.5;
    // margin-top: $space;

    + p,
    + h3,
    + h4 {
        margin-top: $space * 1.25;
        margin-top: $space * 1.75;
    }
}

.Article-checklist ul {
    // list-style-type: none;
    margin-left: $space * 0.5;
}

.Article-checklist p,
.Article-checklist li {
    @include TextSm();
    margin: 0;
}

.Article-checklist p {
    // border-bottom: 1px solid rgba($color-text,0.7);
    font-family: $font-text-i;
    // margin-bottom: $space * 0.5;
    margin-bottom: $space * 0.125;
    // padding-bottom: rem(2);
}
