

// --------------------------------------------------------------------------
// VARIABLE SETTINGS
// --------------------------------------------------------------------------


// Colours
// --------------------------------------------------------------------------

$color-black           : #111;
$color-text            : #222;
$color-text-rule       : rgba($color-text,0.7);
$color-white           : white;
$color-grey            : #a19a8f;
$color-grey-base       : rgba($color-text,0.5);
$color-grey-alt        : adjust-hue($color-grey, 6%);
// $color-grey            : #000EFF; //#4FC724; //#65D53C; //green
// $color-grey            : #0060FF;
// $color-grey            : #009BFF; //#006CFF;
$color-grey-rule       : rgba($color-grey,0.7);
$color-link            : $color-text;
$color-link-rule       : rgba($color-link,0.7);
$color-bg              : #fdfdfd;
$color-bg-neutral      : #EAEBEC;
$color-hi              : #6EBE70;
$color-hi2             : #F56F24; //dirty orange
$color-hi3             : #29CFEF; //cyanish
$color-hi4             : #46DA2F; //green neon 40D229
$color-hi-alt          : #246168;
$color-ink             : #1454D6;

// medium green rgba(97,255,160,0.8)


// Base sizes
// --------------------------------------------------------------------------

$base-font-size-unit   : 21;
$base-font-size        : $base-font-size-unit * 1px;
$base-line-height-unit : 1.5;
$base-line-height      : ($base-font-size-unit * $base-line-height-unit) * 1px;


// Font sizes

$sizeCaption   : 13;
$sizeQuote     : 19;
$sizeText      : $base-font-size-unit;
$sizeHeaderSm  : 14;
$sizeHeader    : 90;
$sizeHeaderLg  : 33;

$r-sizeCaption   : rem(13);
$r-sizeQuote     : rem(16);
$r-sizeText      : rem($base-font-size-unit);
$r-sizeHeader    : rem(19);
$r-sizeHeaderSm  : rem(39); //35 39


// Kerning sizes

$kernSm  :  0.01em;
$kernMd  :  0.02em;
$kernLg  :  0.03em;
$kernNSm : -0.01em;
$kernNMd : -0.02em;
$kernText : 0;


// Space sizes

$columnText            : rem(840); //704
$columnPicture         : rem(1000);  //55rem
// $columnWidePicture     : rem(1024); //64rem

$space-unit            : rem($base-line-height); // 30
$space--D6             : $space-unit / 6;
$space--D3             : $space-unit / 3;
$space--D2             : $space-unit / 2;
$space--D1             : $space-unit / 1.33333;
$space                 : $space-unit * 1;
$space--X13            : $space-unit * 1.33333;
$space--X15            : $space-unit * 1.5;
$space--X2             : $space-unit * 2;
$space--X25            : $space-unit * 2.5;
$space--X3             : $space-unit * 3;
$space--X4             : $space-unit * 4;
$space--X5             : $space-unit * 5;
$space--X6             : $space-unit * 6;
$space--XL             : $space-unit * 10;

$spaceTitle            : $space * 2;
$spaceSection          : 15vh;
$spaceGutter           : $space * 0.5;

$m-spaceRatio            : 0.8;
$m-space                 : $space * $m-spaceRatio;
$m-spaceTitle            : $spaceTitle * $m-spaceRatio;
$m-spaceSection          : $spaceSection * 0.75 * $m-spaceRatio;
$m-spaceGutter           : $spaceGutter * $m-spaceRatio;


// Utilities
// --------------------------------------------------------------------------

$transitionDuration : 0.15s;
$transitionType     : ease-out;


// Fonts
// --------------------------------------------------------------------------

@include font-face('LyonText-Regular', '/fonts/LyonText-Regular');
@include font-face('LyonText-RegularItalic', '/fonts/LyonText-RegularItalic');
@include font-face('LyonText-Semibold', '/fonts/LyonText-Semibold');
@include font-face('LyonText-SemiboldItalic', '/fonts/LyonText-SemiboldItalic');
@include font-face('LyonText-Bold', '/fonts/LyonText-Bold');
@include font-face('LyonText-BoldItalic', '/fonts/LyonText-BoldItalic');
@include font-face('LyonText-Black', '/fonts/LyonText-Black');

@include font-face('LyonDisplay-Light', '/fonts/LyonDisplay-Light');
@include font-face('LyonDisplay-LightItalic', '/fonts/LyonDisplay-LightItalic');
@include font-face('LyonDisplay-Regular', '/fonts/LyonDisplay-Regular');
@include font-face('LyonDisplay-RegularItalic', '/fonts/LyonDisplay-RegularItalic');
@include font-face('LyonDisplay-Medium', '/fonts/LyonDisplay-Medium');
@include font-face('LyonDisplay-MediumItalic', '/fonts/LyonDisplay-MediumItalic');
@include font-face('LyonDisplay-Medium', '/fonts/LyonDisplay-Medium');
@include font-face('LyonDisplay-Bold', '/fonts/LyonDisplay-Bold');
@include font-face('LyonDisplay-Black', '/fonts/LyonDisplay-Black');

@include font-face('GazetteLH-Roman', '/fonts/GazetteLH-Roman');

@include font-face('GrotesqueMT-Light', '/fonts/GrotesqueMT-Light');
@include font-face('GrotesqueMT-LightItalic', '/fonts/GrotesqueMT-LightItalic');
@include font-face('GrotesqueMT', '/fonts/GrotesqueMT');
@include font-face('GrotesqueMT-Italic', '/fonts/GrotesqueMT-Italic');
@include font-face('GrotesqueMT-Bold', '/fonts/GrotesqueMT-Bold');

@include font-face('AtlasGrotesk-Light', '/fonts/AtlasGrotesk-Light');
@include font-face('AtlasGrotesk-Regular', '/fonts/AtlasGrotesk-Regular');
@include font-face('AtlasGrotesk-Medium', '/fonts/AtlasGrotesk-Medium');
@include font-face('AtlasGrotesk-Bold', '/fonts/AtlasGrotesk-Bold');
@include font-face('AtlasGrotesk-Black', '/fonts/AtlasGrotesk-Black');





$sans        : 'LyonText-Regular';
$sans-i      : "LyonText-RegularItalic";
$sans-med    : $sans;
$sans-med-i  : $sans;
$sans-plus   : $sans;
$sans-plus-i : $sans;
$sans-bold   : $sans;
$sans-bold-i : $sans;
$sans-black  : $sans;
$serif-disp  : $sans;

// $font-section-title       : 'GrotesqueMT-Bold';
$font-section-title       : 'AtlasGrotesk-Bold';
// $font-display             : 'GrotesqueMT';
$font-display             : 'AtlasGrotesk-Black';
$font-display-i           : $font-display;

$font-sans-lite           : 'AtlasGrotesk-Light';
$font-sans-reg            : 'AtlasGrotesk-Regular';
$font-sans-med            : 'AtlasGrotesk-Medium';
$font-sans-bold           : 'AtlasGrotesk-Bold';

$font-text                : 'LyonText-Regular';
$font-text                : 'AtlasGrotesk-Regular';
// $font-text                : 'GazetteLH-Roman';
// $font-text                : 'LyonText-Semibold';
// $font-text                : 'GrotesqueMT';
$font-text-i              : 'LyonText-RegularItalic';
$font-text-med            : 'LyonText-Semibold';
$font-text-med-i          : 'LyonText-SemiboldItalic';
$font-text-bold           : "LyonText-Bold";
$font-text-bold-i         : "LyonText-BoldItalic";

$sans-font-stack       : "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$serif-font-stack      : Georgia, Times, serif;

$text-reg              : join($sans, $sans-font-stack);
$text-reg-i            : join($sans-i, $sans-font-stack);
$text-med              : join($sans-med, $sans-font-stack);
$text-med-i            : join($sans-med-i, $sans-font-stack);
$text-plus             : join($sans-plus, $sans-font-stack);
$text-plus-i           : join($sans-plus-i, $sans-font-stack);
// $text-bold             : join($sans-bold, $sans-font-stack);
$text-bold-i           : join($sans-bold-i, $sans-font-stack);
$display               : join($serif-disp, $serif-font-stack);


// Breakpoints map
// --------------------------------------------------------------------------
// @access private
// @type Map
// @prop {String} key - breakpoint name
// @prop {String} value - breakpoint mapped to the key

$breakpoints: (
    'sm' : ( min-width:  767px ),
    'md' : ( min-width:  992px ),
    'lg' : ( min-width: 1200px )
);


// Z-indexes map, gathering all Z layers of the application
// --------------------------------------------------------------------------
// @access private
// @type Map
// @prop {String} key - Layer’s name
// @prop {Number} value - Z value mapped to the key

$z-indexes: (
    'modal'     : 8001,
    'overlay'   : 8000,
    'dropdown'  : 7000,
    'second'    : 2000,
    'first'     : 1000,
    'default'   : 1,
    'below'     : -1,
);

$zindex-navbar:            1000 !default;
$zindex-dropdown:          1000 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;
$zindex-navbar-fixed:      1030 !default;
$zindex-navbar-sticky:     1030 !default;
$zindex-modal-bg:          1040 !default;
$zindex-modal:             1050 !default;
