

// --------------------------------------------------------------------------
// TYPOGRAPHY ELEMENTS
// --------------------------------------------------------------------------


// Section mixin
// --------------------------------------------------------------------------

@mixin SectionTitle() {
    // @include TypeReset();
    display: inline-block;
    // font-family: $font-section-title;
    // font-size: rem(18);
    // letter-spacing: 0.19em;
    letter-spacing: 0.025em;
    margin: 0 0 ($m-spaceTitle - 0.25rem) 0;
    // text-align: left;
    // text-transform: uppercase;
    //
    // span {
    //     display: inline-block;
    // }
    //
    &:not(:last-child),
    span:not(:last-child) {
        margin-right: $space * 0.75;
    }

    span.NoSpace {
        margin-right: $space * 0.25;
    }

    a {
        @include u-link(none);
        // @include RuleTransition($color-text, true);
        // line-height: inherit;
        text-decoration: none;
        // width: calc(100% - .25rem); // align bottom border to text length
    //
    //     > span {
    //         margin: rem(-40) rem(-20);
    //         padding: rem(40) rem(20);
    //         // border: 1px solid salmon;
    //     }
    }
    //
    // @include respond-to(sm) {
    //     font-size: rem(16);
    //     font-size: rem(21);
    //     margin-bottom: $spaceTitle - 0.75rem;
    // }

    @include TextRg();
    display: inline-block;
    font-family: $font-text-med;
    font-size: calc(#{$r-sizeText} - 1px);
    letter-spacing: 0.012em;
    margin: 0 0 ($m-spaceTitle - 0.25rem) 0;

}

.SectionTitle,
.Header-title,
.Project-title { @include SectionTitle(); }

.Header-title {
    // font-family: $font-text-bold-i;
}


// Summary
// --------------------------------------------------------------------------

@mixin Summary() {
    @include TypeReset();
    // color: $color-hi2;
    // color: $color-ink;
    font-family: $font-display-i;
    font-family: $font-display;
    font-size: rem(48);
    letter-spacing: 0.0em;
    letter-spacing: -0.005em;
    letter-spacing: -0.015em;
    line-height: 1.4;
    margin: 0 0 ($space * 1) 0;
    margin: 0;
    text-align: left;

    // bold sans test 151021
    // letter-spacing: -0.045em;
    line-height: 1.25;

    a {
        @include u-link(none);
        color: $color-grey;
        font-family: $font-display-i;
        padding-bottom: 0;
    }

    @include respond-to(sm) {
        font-size: rem(40);
        font-size: rem(54);
        font-size: rem(75);
    }
}

.Summary {
    margin: 0;

    @include respond-to(sm) {
        // max-width: $columnText;
        margin-left: calc( (#{$columnPicture} - #{$columnText}) * 0.25 );
    }

    > p {
        @include Summary();
        width: 90%;

        @include respond-to(sm) {
            // width: 116%;
            // width: 125%;
        }
    }
}


// Meta & lede mixins
// --------------------------------------------------------------------------

@mixin Lede() {
    @include TextRg();
    font-size: $r-sizeText * 1.1;
    font-family: $font-text-med-plus;
    font-family: $font-text-med;
    letter-spacing: -0.002em;
    line-height: 1.45;
}

@mixin Meta(
    $color: $color-text,
    $display: inline-block
) {
    @include TypeReset();
    display: $display;
    // font-family: $font-text-med-i;
    // font-feature-settings: 'tnum';
    font-size: rem(15);
    letter-spacing: -0.01em;
    line-height: calc(#{$r-sizeText} * 1.5);
    margin-bottom: 0;
}

.Meta { @include Meta(); }


// Meta mono mixin
// --------------------------------------------------------------------------

@mixin Mono() {
    @include TypeReset();
    // font-family: $font-mono;
    font-size: rem(15);
    letter-spacing: -0.025em;
    margin-bottom: 0;
}

.Mono { @include Mono(); }


// Lower headlines
// TODO: will I use for markdown for the blog?
// --------------------------------------------------------------------------

h2 {
    @include TextRg();

    a {
        @include u-link(none);
    }
}

h3 {
    // @include TextRg();
    // font-family: $font-text-med;
    // letter-spacing: 0.005em;

    @include SectionTitle();
    margin-bottom: $VertRhythmSpace;

    p + & {
        margin-top: $space * 1.25;
        // margin-top: $space * 1.75;
    }
}

h4 {
    @include TextRg();
    font-family: $font-text-med-i;
    letter-spacing: 0.005em;
}


// Footer
// --------------------------------------------------------------------------

.Footer {
    p {
        // @include Meta();
        // @include Mono();
        color: $color-grey-base;
        margin: 0;

        @include respond-to(sm) {
            // width: 40%;
            // width: 95%;
        }
    }

    a {
        @include u-link($linkRuleGrey);
    }

    em {
        // font-family: $font-mono-i;
        font-family: $font-text-i;
    }
}


// Nav
// --------------------------------------------------------------------------

.Nav {
    ul {
        list-style: none;
        margin: 0;
    }

    li {
        @include SectionTitle();
    }

    a span {
        margin-left: rem(4);
    }
}

.MetaNav {
    position: absolute;

    &.MetaNav--top {
        top: 0;
        right: 0;
    }

    &.MetaNav--bottom {
        bottom: 0;
        right: 0;
    }

    &.sm-MetaNav--block {
        position: relative;
    }

    @include respond-to(sm) {
        &.lg-MetaNav--top {
            top: 0;
            right: 0;
        }

        &.lg-MetaNav--bottom {
            bottom: 0;
            right: 0;
        }

        &.sm-MetaNav--block {
            position: absolute;
        }
    }

    a {
        @include SectionTitle();
        @include u-link(none);
        // @include Meta();
        //
        // font-family: $font-section-title;
        // font-size: rem(14);
        // letter-spacing: 0.075em;
        // text-transform: uppercase;

        &:not(:last-child) {
            margin-right: 2rem;
        }
    }
}
