

// --------------------------------------------------------------------------
// TYPOGRAPHY SETTINGS
// --------------------------------------------------------------------------


// Base level
// --------------------------------------------------------------------------
// If req'd, set the number case to tabular lining: http://clagnut.com/sandbox/css3/
// 1. Reset font-weight on HTML attributes for font-face use.

// :root,
html {
    background-color: $color-bg;
    color: $color-text;
    font-family: $font-text;
    font-size: 80%;
    // font-size: 100%;
    line-height: $base-line-height-unit; /* 1 */
    text-align: left;
    text-rendering: optimizeLegibility;

    @include respond-to(md) {
        // font-size: 90%;
    }

    @include respond-to(sm) {
        font-size: 100%;
    }
}


// Text style
// --------------------------------------------------------------------------

@mixin TypeReset() {
    font-style: normal;
    font-weight: normal;
}

@mixin TextRg(
    $color: $color-text,
    $font: $font-text
) {
    @include TypeReset();
    color: $color;
    font-family: $font-text;
    font-size: $r-sizeText;
    letter-spacing: -0.009em;
    line-height: $base-line-height-unit;
    text-align: left;
    text-transform: none;
}

// h1, h2, h3, h4, h5, h6,
ul, ol, li, dl,
blockquote, p, address,
table, time,
fieldset, figure,
pre,
.Text {
    @include TextRg();
}


// Basics
// --------------------------------------------------------------------------

ul {
    list-style-type: disc;
}

ol {
    list-style-type: decimal;
}

em,
.u-textEm {
    font-family: $text-reg-i;
    // font-family: $font-text;
    font-style: normal;
}

b,
.u-textBold {
    font-family: $font-text-med;
    font-style: normal;
    font-weight: normal;
}
