// Nav
// --------------------------------------------------------------------------

.Header-group {
    position: relative;
    width: 100%;

    @include on-event() {
        .Header-title {
            opacity: 0;
            transition: all $transitionDuration $transitionType;
        }

        .Header-nav {
            opacity: 1;
            transition: all $transitionDuration $transitionType;
        }
    }
}

.Header-title,
.Header-nav {
    transition: all $transitionDuration $transitionType;
}

.Header-nav {
    @include u-absoluteCover();
    opacity: 0;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        transform: translateY(rem(-3));
    }

    li {
        @include Headline();
        display: inline-block;
        margin: 0;
        position: relative;

        &:not(:last-child) {
            margin-right: 1.25rem;
        }
    }
}
