

// --------------------------------------------------------------------------
// TYPOGRAPHY ELEMENTS
// --------------------------------------------------------------------------


// Section mixin
// --------------------------------------------------------------------------

@mixin SectionTitle() {
    @include TypeReset();
    // color: $color-ink;
    display: inline-block;
    font-family: $font-section-title;
    font-size: rem(18);
    letter-spacing: 0.19em;
    // margin: 0 0 ($m-spaceTitle - 0.25rem) 0;
    margin: 0 0 $m-spaceTitle 0;
    text-align: left;
    text-transform: uppercase;

    span {
        display: inline-block;
    }

    &:not(:last-child),
    span:not(:last-child) {
        margin-right: $space * 0.5;
    }

    a {
        @include u-link(none);
        @include RuleTransition($color-text, true);
        // color: $color-ink;
        line-height: inherit;
        width: calc(100% - .25rem); // align bottom border to text length
    }

    @include respond-to(sm) {
        font-size: rem(19);
        margin-bottom: $spaceTitle + 1rem;
    }
}

.SectionTitle,
.Header-title { @include SectionTitle(); }


// Summary
// --------------------------------------------------------------------------

@mixin Summary() {
    @include TypeReset();
    // color: $color-hi2;
    // color: $color-ink;
    font-family: $font-display-i;
    font-family: $font-display;
    font-size: rem(33);
    letter-spacing: 0.012em;
    letter-spacing: 0.018em;
    line-height: 1.35;
    margin: 0 0 ($space * 1) 0;
    margin: 0;
    text-align: left;

    a {
        @include u-link();
        // font-family: $font-display-i;
        padding-bottom: 0.1%;
        padding-bottom: 0;
    }

    .Emphasis {
        // color: $color-hi4;
        // font-family: $font-display-em;
        // font-size: rem(44);
        // letter-spacing: 0.009em;
        // text-transform: uppercase;

        border-bottom: 1px solid $color-text;
        display: block;
        font-family: $font-display-i;
        // margin-left: calc( (#{$columnText} - (#{$columnPicture} + #{$space--X4})) * 0.5  );
        // margin-right: calc( (#{$columnText} - (#{$columnPicture} + #{$space--X4})) * 0.5  );
        margin-bottom: $space + 0.5rem;
        padding-bottom: $space;

        > span {
            margin: 0 auto;
            max-width: $columnText;
        }
    }

    @include respond-to(sm) {
        font-size: rem(40);
        font-size: rem(50);
        // line-height: 1.3;
    }
}

.Summary {
    margin: 0;

    @include respond-to(sm) {
        max-width: $columnText;
        margin-left: calc( (#{$columnPicture} - #{$columnText}) * 0.25 );
    }

    > p {
        @include Summary();
        width: 100%;

        &.Em {
            // color: $color-hi4;
            // font-family: $font-display-i;
            // font-size: rem(44);
        }

        &.Tint {
            // color: rgba($color-text,0.25);
            opacity: 0.3;

        }

        @include respond-to(sm) {
            // width: 107%;
            width: 116%;
        }
    }
}


// Meta mixin
// --------------------------------------------------------------------------

@mixin Meta(
    $color: $color-text,
    $display: inline-block
) {
    @include TypeReset();
    display: $display;
    font-family: $font-text-i;
    // font-feature-settings: 'tnum';
    font-size: rem(14);
    letter-spacing: 0.022em;
    line-height: calc(#{$r-sizeText} * 1.5);
    margin-bottom: 0;
}

.Meta { @include Meta(); }


// Meta mono mixin
// --------------------------------------------------------------------------

@mixin Mono() {
    @include TypeReset();
    font-family: $font-mono;
    font-size: rem(15);
    letter-spacing: -0.025em;
    margin-bottom: 0;
}

.Mono { @include Mono(); }


// Lower headlines
// TODO: will I use for markdown for the blog?
// --------------------------------------------------------------------------

h2 {
    @include TextRg();

    a {
        @include u-link(none);
    }
}

h3 {
    @include TextRg();
    font-family: $font-text-bold;
    letter-spacing: 0.005em;

    p + & {
        margin-top: $space * 1.25;
    }
}

h4 {
    @include TextRg();
}


// Footer
// --------------------------------------------------------------------------

.Footer {
    p {
        // @include Meta();
        // @include Mono();
        margin: 0;

        @include respond-to(sm) {
            // width: 40%;
            // width: 95%;
        }
    }

    em {
        // font-family: $font-mono-i;
        font-family: $font-text-i;
    }
}


// Nav
// --------------------------------------------------------------------------

.Nav {
    ul {
        list-style: none;
        margin: 0;
    }

    li {
        @include SectionTitle();
    }
}

.MetaNav {
    position: absolute;

    &.MetaNav--top {
        top: rem(3);
        right: 0;
    }

    &.MetaNav--bottom {
        bottom: 0;
        right: 0;
    }

    &.sm-MetaNav--block {
        position: relative;
    }

    @include respond-to(sm) {
        &.lg-MetaNav--top {
            top: rem(3);
            right: 0;
        }

        &.lg-MetaNav--bottom {
            bottom: 0;
            right: 0;
        }

        &.sm-MetaNav--block {
            position: absolute;
        }
    }

    a {
        @include u-link(none);
        @include Meta();

        font-family: $font-section-title;
        font-size: rem(14);
        letter-spacing: 0.075em;
        text-transform: uppercase;

        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }
}
