

// --------------------------------------------------------------------------
//   TITLE
// --------------------------------------------------------------------------


// Body

.Main {
    @include when-inside(".thesubstation") {
        //background-color: palette(neutral);
        position: relative;
    }
}

.Content--post {
    //@include when-inside(".thesubstation") {
    //    background-color: palette(background);
    //    position: relative;
    //}
}

// Displays

.Header .Display {
	@include when-inside(".about") {
		// @include media-breakpoint-up(sm) { width: $mixinWidthSm; }
		@include media-breakpoint-up(lg) { width: 95%; }
	}
}

.Footer .Display {
	@include media-breakpoint-up(lg) { width: 80%; }
}


// Headlines

.Header .Headline {
	@include when-inside(".primary-healthcare-network") {
		em { color: palette(project-phn); }
		@include media-breakpoint-up(xs) { width: 90%; }
		@include media-breakpoint-up(lg) { width: 85%; }
	}

	@include when-inside(".ward6") {
		em { color: palette(project-ward6); }
		@include media-breakpoint-up(lg) { width: 80%; }
	}

	@include when-inside(".oceanblue-living") {
		em { color: palette(project-obl); }
		@include media-breakpoint-up(lg) { width: 92%; }
	}

	@include when-inside(".pharmaceutical-edetailers") {
		em { color: palette(project-ward6-ipad-apps); }
		@include media-breakpoint-up(lg) { width: 80%; }
	}

	@include when-inside(".thesubstation") {
		em { color: palette(project-thesubstation); }
		//@include media-breakpoint-up(lg) { width: 85%; }
	}
}


// Footer

.Footer .Block--masthead p {
	@include media-breakpoint-down(sm) { width: 72%; }
}
