

// --------------------------------------------------------------------------
//   PROJECT TRUMPS
// --------------------------------------------------------------------------


// Displays

.Header .Display {
	@include when-inside(".about") {
		// @include media-breakpoint-up(sm) { width: $mixinWidthSm; }
		@include media-breakpoint-up(lg) { width: 95%; }
	}
}


// Headlines

.Header .Headline {
	@include when-inside(".primary-healthcare-network") {
		em { color: palette(project-phn); }
		@include media-breakpoint-up(xs) { width: 90%; }
		@include media-breakpoint-up(lg) { width: 85%; }
	}

	@include when-inside(".ward6") {
		em { color: palette(project-ward6); }
		@include media-breakpoint-up(lg) { width: 80%; }
	}

	@include when-inside(".oceanblue-living") {
		em { color: palette(project-obl); }
		@include media-breakpoint-up(lg) { width: 92%; }
	}

	@include when-inside(".pharmaceutical-edetailers") {
		em { color: palette(project-ward6-ipad-apps); }
		@include media-breakpoint-up(lg) { width: 80%; }
	}

	@include when-inside(".thesubstation") {
		em { color: palette(project-thesubstation); }
		@include media-breakpoint-up(lg) { width: 85%; }
	}
}


// Hero images

.Block--hero {
    @include when-inside(".primary-healthcare-network") { background-color: rgba( palette(project-phn), 0.1 ); }
	@include when-inside(".oceanblue-living")           { background-color: rgba( palette(project-obl), 0.1 ); }
	@include when-inside(".thesubstation")              { background-color: rgba( palette(project-thesubstation), 0.25 ); }
}
