

// --------------------------------------------------------------------------
//   VARIABLE SETTINGS
// --------------------------------------------------------------------------


// Namespace for themeing & testing
// Apply, thus: .#{$namespace}textarea
// --------------------------------------------------------------------------

$namespace             : '';


// Colours
// --------------------------------------------------------------------------

$base-black                    : #000;
$base-white                    : #FFF;

$palette: (
    black                      : $base-black,
    text                       : #151515,
    dark                       : tint($base-black, 15%),
    ash                        : tint($base-black, 22%),
    charcoal                   : tint($base-black, 39%),
    medium                     : tint($base-black, 50%),
    muted                      : tint($base-black, 70%),
    base                       : tint($base-black, 86%),
    light                      : tint($base-black, 94%),
    faint                      : tint($base-black, 97%),
    
    black-85                   : tint($base-black, 15%),
    black-80                   : tint($base-black, 20%),
    black-60                   : tint($base-black, 40%),
    black-50                   : tint($base-black, 50%),
    black-40                   : tint($base-black, 60%),
    black-30                   : tint($base-black, 70%),
    black-25                   : tint($base-black, 75%),
    black-20                   : tint($base-black, 80%),
    black-10                   : tint($base-black, 90%),
    black-5                    : tint($base-black, 96%),
    black-3                    : tint($base-black, 98%),
    
    white                      : $base-white,
    background                 : #fdfdfd,
    neutral                    : #f5f5f5,
    neutral-dark               : darken(#f0eeeb, 9%),
    neutral-light              : lighten(#f0eeeb, 4%),
    brand                      : #0c2f5d,
    brand-complement           : #6EBE44,
    brand-counter              : #887E73,
    modal-background           : #151515,
    warning                    : #FFD40C,
    bad-news                   : #C60C0C,
    good-news                  : brand-complement,
    page-home                  : #8b7412,
    page-about                 : #6287bb,
    project-bg                 : #F5F5F5,
    project-phn                : #6ebe44,
    project-ward6              : #029C75,
    project-ward6-ipad-apps    : #d2124d,
    project-obl                : #1159c0,
    project-thesubstation      : #bfa657, //#8657bf, //#AB8C40, //#383d78,
    hilite                     : #48e79a
);


// Base size measures
// --------------------------------------------------------------------------

$base-font-size-unit           : 19;
$base-line-height-unit         : 1.6;
$base-font-size                : $base-font-size-unit * 1px;
$base-line-height              : ($base-font-size-unit * $base-line-height-unit) * 1px; // 30.45
$space-unit                    : $base-line-height;
$space                         : $space-unit * 1;

$paragraphSpacer               : space(0.75);
$paragraphSpace                : space(0.75);
$blockSpacer                   : 24vh;
$gutterSpace                   : 24vw / 4;
$windowSpace                   : 7.03125%;
$windowSpaceLg                 : 13.67188%;

$cardRadius                    : 6px;
$buttonRadius                  : 4px;
$labelRadius                   : 3px;




// Widths (based on BS4)
// --------------------------------------------------------------------------

// Removed the BS4 ascending mixin:
// @include _assert-ascending($grid-breakpoints, "$grid-breakpoints");),

// BS4 defaults:
// $container-max-widths: (
// 	sm: 576px,
// 	md: 720px,
// 	lg: 940px,
// 	xl: 1140px
// ) !default;

// $grid-breakpoints: (
// 	xs: 0,
// 	sm: 544px,
// 	md: 768px,
// 	lg: 992px,
// 	xl: 1200px,
// ) !default;

$grid-breakpoints: (
    xs: 0,
    sm: 544px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    su: 1700px
) !default;

$container-max-widths: (
    xs: 460px,
    sm: 576px,
    md: 720px,
    ml: 840px,
    lg: 960px,
    ll: 1040px,
    xl: 1200px,
    st: 1500px,
    su: 1700px,
    xx: 80vw
) !default;


// Sizes
// --------------------------------------------------------------------------

$fontsizes: (
    Text--sm: (
        xs            : 12px,
        sm            : 13px,
    ),
    Text: (
        xs            : 16px,
        sm            : $base-font-size,
    ),
    Text--lg: (
        xs            : 27px,
        sm            : 34px,
    ),
    Headline--sm: (
        xs            : 25px,
        sm            : 25px,
        lg            : 29px
    ),
    Headline: (
        xs            : 30px,
        sm            : 38px,
        lg            : 44px
    ),
    Display: (
        xs            : 40px,
        sm            : 54px,
        lg            : 60px
    )
);







// TODO: remove these by updating the mixins that reference them.

$size: (

    border-radius: (
        small             : 3px,
        base              : 4px,
        large             : 6px
    ),

    button-height: (
        concise           : 36px,
        base              : 44px,
        large             : 48px
    ),

    list-inset: (
        margin            : space(1.5),
        padding           : 0
    ),

    breakpoint: (
        'max-xs'          : ( max-width:  600px ),
        'max-sm'          : ( max-width:  767px ),
        'ip6'             : ( min-width:  374px ),
        'xs'              : ( min-width:  600px ),
        'sm'              : ( min-width:  767px ),
        'md'              : ( min-width: 1025px ),
        'lg'              : ( min-width: 1200px ),
        'xl'              : ( min-width: 1700px ),
        'xxl'             : ( min-width: 1920px )
    ),

    container: (
        modal-form        : rem(740),
        modal-form-sm     : 80%,
        default           : rem(660),
        small             : rem(345),
        text-column       : rem(1040),
        picture           : rem(1170),
        wide-picture      : rem(1240)
    ),


);


// Other sizes (from master scss)
// --------------------------------------------------------------------------

$border-radius: (
    small             : 3px,
    base              : 4px,
    large             : 6px
);

$button-height: (
    concise           : 36px,
    base              : 44px,
    baseWithBorder    : 46px,
    lg                : 55px
);

$list-inset: (
    margin            : space(0.75),
    padding           : 0
);


// Transitions maps
// --------------------------------------------------------------------------

$transition: (
    duration: (
        fast         : 50ms,
        short        : 150ms,
        long         : 500ms
    ),
    type: (
        thisalso     : cubic-bezier(0.19, 1, 0.22, 1),
        cubic-static : cubic-bezier(0, -0.1, 1, -0.1),
        cubic-state  : cubic-bezier(0, 1.1, 1, 1.1),
        base         : ease-out,
        fine         : ease-in-out
    )
);


// Z-indexes map
// --------------------------------------------------------------------------

$z-index: (
    'above-modal' : 8002,
    'modal'       : 8001,
    'overlay'     : 8000,
    'dropdown'    : 7000,
    'second'      : 2000,
    'first'       : 1000,
    'default'     : 1,
    'below'       : -1,
);
