// Fonts
// --------------------------------------------------------------------------

// LEGACY: easy google-fonts implementation
// $sans: 'Source Sans Pro';
// $font: join($sans, $font-sans-stack);

$font-sans-stack      : 'San Francisco', -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', Roboto, 'Helvetica Neue', Helvetica, 'Droid Sans', Arial, sans-serif;
$font-serif-stack     : Georgia, "Times New Roman", "Times", serif;
$font-mono-stack      : Menlo, Monaco, Consolas, "Liberation Mono", 'Courier New', 'Andale Mono', 'Lucida San Typewriter', 'Lucida Console', monospace;

$fonts-path           : '/assets/fonts/';

// fonts tested…
//$font-sans-name       : 'AtlasGrotesk';
//$font-sans-name       : 'MarrSans-'; // NICENICE
//$test-sans: 'URWGeometric-Medium';
//$test-sans: 'theinhardt-reg';
//$test-sans: 'Larsseit-Light';
//$test-sans: 'MarkOT-Regular';
//$test-sans: 'AtlasGrotesk-Regular';
//$test-sans: 'LabGrotesque-Regular';
//$test-display: 'MFredRounded-Regular';
//$test-display: 'LabGrotesque-Medium';
//$test-display: 'Stanley-Poster';
//$test-sans: 'MarrSans-Regular';
//$test-sans-md: 'MarrSans-Medium';
//$test-display: 'MarrSans-Light';
//$test-sans: 'FranklinGothic-Book';
//$test-sans-md: 'FranklinGothic-Demi';
//$test-display: 'FranklinGothic-ExtraCond';
//$test-display: 'GrotzecCond-Bold';
//$font-display-name    : 'display'; // NocturnoDisplay-Bold AntiqueOlive-Bold GrotesqueMT-Condensed Gothic-Thirteen LarishNeue

$font-sans-name-old: 'StyreneA';
$font-sans-name: 'AttenNew';

// Create font-file variables

$text-thin            : #{$font-sans-name-old}-Thin;
$text-light           : #{$font-sans-name-old}-Light;
$text-book            : #{$font-sans-name-old}-Regular;
$text-regular         : #{$font-sans-name}-Regular;
$text-medium          : #{$font-sans-name}-Medium;
$text-semi            : #{$font-sans-name-old}-Semibold;
$text-bold            : #{$font-sans-name-old}-Bold;
$text-xbold           : #{$font-sans-name-old}-Extrabold;
$text-black           : #{$font-sans-name-old}-Black;

$text-regular-italic  : #{$font-sans-name-old}-RegularItalic;
$text-medium-italic   : #{$font-sans-name-old}-MediumItalic;
$text-semi-italic     : #{$font-sans-name-old}-SemiboldItalic;
$text-bold-italic     : #{$font-sans-name-old}-BoldItalic;


// Make all font files available
// Mixin options: $font-family, $file-path, $weight, $style, $formats
// Ps. This below prints an unwanted space between the path var and the font var:
// @include font-face($text-thin, join($fonts-path,$text-thin) );

@include font-face($text-thin,    '#{$fonts-path}#{$text-thin}' );
@include font-face($text-light,   '#{$fonts-path}#{$text-light}' );
@include font-face($text-book,    '#{$fonts-path}#{$text-book}' );
@include font-face($text-regular, '#{$fonts-path}#{$text-regular}' );
@include font-face($text-medium,  '#{$fonts-path}#{$text-medium}' );
@include font-face($text-bold,    '#{$fonts-path}#{$text-bold}' );
@include font-face($text-xbold,   '#{$fonts-path}#{$text-xbold}' );
@include font-face($text-black,   '#{$fonts-path}#{$text-black}' );
@include font-face($text-regular-italic, '#{$fonts-path}#{$text-regular-italic}' );


// Apply font-file variables to a font-stack
// Only use these variables in our classes.

$main-font-stack: $font-sans-stack;

$font-text-regular    : join($text-regular, $main-font-stack);
$font-text-medium     : join($text-medium, $main-font-stack);
$font-display         : join($text-regular, $main-font-stack);

//$font-text-thin       : join($text-thin, $main-font-stack);
//$font-text-light      : join($text-light, $main-font-stack);
//$font-text-book       : join($text-book, $main-font-stack);
//$font-text-regular-i  : join($text-regular-italic, $main-font-stack);
//$font-text-medium-i   : join($text-medium-italic, $main-font-stack);
//$font-text-bold       : join($text-bold, $main-font-stack);
//$font-text-bold-i     : join($text-bold-italic, $main-font-stack);
//$font-text-xbold      : join($text-xbold, $main-font-stack);
//$font-text-black      : join($text-black, $main-font-stack);

//avoid errors where used in legacy…
$font-text-thin       : $font-text-regular;
$font-text-light      : $font-text-regular;
$font-text-book       : $font-text-regular;
$font-text-regular-i  : $font-text-regular;
$font-text-medium-i   : $font-text-regular;
$font-text-bold       : $font-text-regular;
$font-text-bold-i     : $font-text-regular;
$font-text-xbold      : $font-text-regular;
$font-text-black      : $font-text-regular;

// if using @fontface via a cloud service, eg. Google fonts.

//$font-weight: (
//	'thin'      : 100,
//	'light'     : 200,
//	'book'      : 400,
//	'regular'   : 500,
//	'medium'    : 600,
//	'bold'      : 700,
//	'black'     : 900
//);




// Nocturno…

//$main-font-stack: $font-serif-stack;
//
//$display: 'display';
//$serif-sm: 'regular';
////$serif-lg: 'book';
//$serif-lg: $display;
//
//@include font-face($serif-sm, '#{$fonts-path}#{$serif-sm}' );
//@include font-face($serif-lg, '#{$fonts-path}#{$serif-lg}' );
//@include font-face($display, '#{$fonts-path}#{$display}' );
//
//$font-text-book:    join($serif-lg, $main-font-stack);
//$font-text-book:    join($display, $main-font-stack);
//$font-text-regular: join($serif-sm, $main-font-stack);
