

// --------------------------------------------------------------------------
//   HEADLINE TYPOGRAPHY
// --------------------------------------------------------------------------


// Common theme…

@mixin headlineTemplate(
	$mixinSize: Display,
	$mixinColor: palette(text),
	$mixinFont: $font-display,
	$mixinLetterSpacing: 0,
	$mixinLineHeight: 1.25,
	$mixinMarginBottom: 0
) {
	// reset
	// this may not be needed if we've styled the body
	// so everything inherits it…
	// @include typeReset();

	// standards
	color: $mixinColor;
	font-family: $mixinFont;
	letter-spacing: $mixinLetterSpacing;
	line-height: $mixinLineHeight;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: $mixinMarginBottom;
	text-align: center;

	// sizes
	font-size: fontsize($mixinSize, xs);
	@include media-breakpoint-up(sm) { font-size: fontsize($mixinSize, sm); }

	// children
	> li,
	> li a,
	> a {
		border-bottom: 0;
		color: currentColor;
		font-family: inherit;
		font-size: inherit;
		margin: 0;
	}
}


// Components by size…

@mixin headlineSm() {
	@include headlineTemplate(
		$mixinSize: Headline--sm,
		$mixinFont: $serif-lg, // TEST
		$mixinLetterSpacing: 0.012em
	);
	text-align: left;
}

@mixin headline() {
	@include headlineTemplate(
		$mixinSize: Headline
	);
}

@mixin display() {
	@include headlineTemplate(
		$mixinSize: Display--su,
		$mixinLetterSpacing: -0.005em,
		$mixinLineHeight: 1.1
	);

	@include when-inside(".Footer") {
		margin-bottom: space(1.25);
	}
}





// Initiate mixins in classes.
// Hierarchy idea: primary, secondary, tertiary, quaternary, quinary,
// senary, septenary, octonary, nonary, denary and super.
// --------------------------------------------------------------------------

.Display      { @include display(); }
.Headline     { @include headline(); }
.Headline--sm { @include headlineSm(); }

.Headline em {
	font-family: inherit;
	font-style: normal;
	font-weight: normal;
}


// Initiate mixins in blocks.
// --------------------------------------------------------------------------

// .Headline-block { > * { @include headline(); } }
