

// --------------------------------------------------------------------------
//   HEADLINE TYPOGRAPHY
// --------------------------------------------------------------------------


// Common theme…

@mixin headlineTemplate(
    $mixinSize: Display,
    $mixinColor: palette(text),
    $mixinFont: $font-display,
    $mixinLetterSpacing: 0,
    $mixinLineHeight: 1.3,
    $mixinMarginBottom: 0
) {
    // reset
    // this may not be needed if we've styled the body
    // so everything inherits it…
    // @include typeReset();

    // standards
    color: $mixinColor;
    font-family: $mixinFont;
    letter-spacing: $mixinLetterSpacing;
    line-height: $mixinLineHeight;
    margin-bottom: $mixinMarginBottom;
    text-align: left;
    
    // if using MFRED…
    //text-transform: uppercase;

    // sizes
    font-size: fontsize($mixinSize, xs);
    @include media-breakpoint-up(sm) { font-size: fontsize($mixinSize, sm); }
    @include media-breakpoint-up(lg) { font-size: fontsize($mixinSize, lg); }

    // children
    > li,
    > li a,
    > a {
        border-bottom: 0;
        color: currentColor;
        font-family: inherit;
        font-size: inherit;
        margin: 0;
    }
}



// Components by size…

@mixin headlineSm() {
    @include headlineTemplate(
        //$mixinSize: Headline--sm,
        $mixinSize: Text,
        $mixinFont: $font-text-medium,
        $mixinLetterSpacing: 0.012em
    );
}

@mixin headline() {
    @include headlineTemplate(
        $mixinSize: Headline,
        $mixinLetterSpacing: -0.005em
    );
}

@mixin display() {
    @include headlineTemplate(
        $mixinLetterSpacing: -0.015em,
        $mixinLineHeight: 1.25
    );
}





// Initiate mixins in classes.
// Hierarchy idea: primary, secondary, tertiary, quaternary, quinary,
// senary, septenary, octonary, nonary, denary and super.
// --------------------------------------------------------------------------

.Display      { @include display(); }
.Headline     { @include headline(); }
.Headline--sm { @include headlineSm(); }

.Headline em {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
}


// Initiate mixins in blocks.
// --------------------------------------------------------------------------

// .Headline-block { > * { @include headline(); } }
