
/* ==================================================================

   BUTTONS

   ================================================================== */

.Button {
    @include remFallback($sizeText);
    background-color: transparent;
    border: 1px solid $color-text;
    color: $color-link;
    border-radius: rem(4);
    font-weight: normal;
    line-height: 1;
    padding: 10px 20px;

    &:hover,
    &:focus,
    &:active {
        color: darken($color-link,15%);
        font-family: $text-reg;
    }
}

/**
 * Button as data-toggle.
 */

.Modal-close,
[data-toggle="modal"],
[data-toggle="gallery"] {
    cursor: pointer;
}
