
/* ==========================================================================

   FOLD COMPONENT
   Uses data-attributes to toggle w/ JQuery.
   See: http://toddmotto.com/stop-toggling-classes-with-js-use-behaviour-driven-dom-manipulation-with-data-states/

   ========================================================================== */


.Fold {
    perspective-origin: 50% 50%;
    perspective: 800;
}

/**
 * Toggle trigger
 * 1. Hidden in .Fold-toggle until interaction.
 */

.Fold-toggle {
    @extend .RuleTransition;
    @include bp(sm) { background-position: 0 20px; }

    &.fullWidth {
        display: block;
    }

    .Pointer--rightAlign {
        @include bp(md-up) { display: none; }
    }

    &.is-active .Pointer--rightAlign {
        display: block;
    }

    p {
        margin-bottom: $space--D3!important;
        @include bp(sm) { @include remFallback($sizeQuote); }
    }
}

/**
 * Toggle target
 */

.Fold-target {
    @include smoothTransition();
    display: block;
    margin-bottom: 0;
    max-height: 0;
    opacity: 0.2;
    overflow: hidden;
    transform: translateY(-7%);
    transition: all 250ms ease-in-out;

    &.is-open {
        margin-bottom: $space--D2;
        max-height: 100%;
        opacity: 1;
        overflow: auto;
        transform: translateY(0);
    }

    p {
        // color: $color-grey;
        color: $color-hi;
    }
}

.Fold-item--smGrey {
    p,
    ul {
        @include TextSm();
        /* color: $color-grey; */
        margin: 0;
    }

    p {
        margin: $space--D3 0 $space--D6 0;
    }
}
