

// --------------------------------------------------------------------------
// PROJECT LIST COMPONENT
// --------------------------------------------------------------------------


// Each project block is gridded differently
.Project-block + .Project-block {
    margin-top: $spaceTitle * 2.5;
}

.Project-block {
    // margin-bottom: $spaceTitle * 1.2;
}


// A single project
.Project {
    &:not(:first-child) {
        margin-bottom: $space;
    }
}


// Project-pictures have background-images set by the Harp slug.
// OBSOLETE: use FlexEmbed to manage dimensions instead.
// .Project-pictureContainer {
//     display: block;
//     overflow: hidden;
//     width: auto;
//
//     background-color: $color-text;
//     height: 20vh;
//     position: relative;
//
//     @include when-inside(".Project-block--lg") {
//         height: rem(400);
//         height: 40vh; //30vh
//         margin: 0 -#{$space};
//     }
//
//     @include when-inside(".Project-block--sm") {
//         height: 12vh;
//     }
//
//     @include respond-to(sm) {
//         @include when-inside(".Project-block--lg") {
//             margin: 0 -#{$space--X2};
//             // margin: 0 -#{$spaceTitle};
//         }
//     }
// }

// The markup holds the content, which in this case,
// is a background-image.
// OBSOLETE: unless wrapped in .Project-pictureContainer
// .Project-picture {
//     @include absoluteCover();
//     @include smoothTransition();
//     background-size: cover !important;
//     margin: auto;
// }





// TODO: Subtle hover interaction
// =============================================================================================================
.Project-pictureInteraction {
    opacity: 0.95;
    transition: all 350ms ease;

    @include when-inside('a:hover') {
        opacity: 1;
        transform: scale(1.01);
    }
}
// =============================================================================================================




// Project details
.Project-caption {
    @include DisplaySub();
    @include u-link(none);
    display: block;
    margin: $space 0 0 0;
}

.Project-data { @extend .Article-data; }
.Project-time { @extend .Article-time; }
// .Project-tags { @extend .Article-tags; }
.Project-separator { @extend .Article-separator; }

.Project-description {
    @include TextRg();
}

.Project-title {
    display: inline-block;
    margin: 0;

    a {
        @include u-link(none);
    }
}

.Project-cta {
    @include u-link();
    font-family: $font-text-i;
}


// Outset a .Project.
// Use this with .FlexEmbed to outset a feature image from the .Container
// --------------------------------------------------------------------------

.Outset {
    margin: 0 -#{$space};

    @include respond-to(sm) {
        margin: 0 -#{$space--X2};
    }
}
