

// --------------------------------------------------------------------------
// ARTICLES
// --------------------------------------------------------------------------


.Article + .Article {
    margin-top: $space * 1.5;
}

.FlexEmbed + .Article {
    margin-top: $spaceTitle;
}

.Article-title {
    @include Display();
    margin-bottom: 0 !important;

    + .Article-data {
        // transform: translateY(-($space * 0.75));
        margin: rem(6) 0 $space 0 !important;
    }
}

.Article-lede {
    @include DisplaySub();
    text-align: left;
    // margin-bottom: $VertRhythmSpace;
}

blockquote {
    margin: $VertRhythmSpace auto;
    max-width: 80%;
}


// Article meta
// --------------------------------------------------------------------------

.Article-time {
    @include Meta();
}

.Article-data,
.Article-tags {
    @include Meta($display: block);
}

.Article-separator {
    letter-spacing: 0.1em;
    margin: 0 !important;
}

.Article-data {
    margin-top: rem(6);

    + p {
        margin-top: $m-space * 1.25;
        @include respond-to(sm) { margin-top: $space; }
    }
}


// Article author
// --------------------------------------------------------------------------

.Article-footer {
    border-bottom: 1px dashed $color-text;
    border-top: 1px dashed $color-text;
    margin: $space * 1.25 0 0 0;
    // margin: $spaceTitle 0 0 0;
    padding: $space * 1.25 $space * 0.5;
}

.Article-authorImage {
    margin-right: $space * 0.75;
    width: rem(118);

    > img {
        border-radius: 50%;
    }
}


// Article checklist (About page)
// --------------------------------------------------------------------------

.Article-checklist {
    // margin-left: $space * 0.5;
    // margin-top: $space;

    + p,
    + h3,
    + h4 {
        margin-top: $space * 1.25;
        margin-top: $space * 1.75;
    }
}

.Article-checklist ul {
    // list-style-type: none;
    margin-left: $space * 0.5;
    margin-bottom: 0;
}

.Article-checklist p,
.Article-checklist li {
    @include TextSm();
    margin: 0;
}

.Article-checklist p {
    // border-bottom: 1px solid rgba($color-text,0.7);
    font-family: $font-text-i;
    // margin-bottom: $space * 0.5;
    margin-bottom: $space * 0.125;
    // padding-bottom: rem(2);
}


// Figure
// --------------------------------------------------------------------------

$realignGridRight: calc( ((#{$columnText} + #{$spaceTitle}) - #{$columnPicture} - #{$space--X2}) );
$realignGridLeft:  calc(  -#{$spaceTitle} - #{$space--X2}  );
$realignGridAuto:  calc( (#{$columnText} - (#{$columnPicture} + #{$space})) * 0.5  );
$realignGridAuto:  calc( (#{$columnText} - #{$columnPicture}) * 0.5  );
$FigureSpace:      $VertRhythmSpace + rem(8);

figure {

    // &:not(:first-child) { margin-top: $FigureSpace; }
    // &:not(:last-child) { margin-bottom: $space * 1.5; }
    &:not(:first-child) { margin-top: $space * 2; }
    &:not(:last-child) { margin-bottom: $space * 2; }

    &.lg {
        // margin: 0 calc((#{$columnText} - #{$columnWidePicture}) / 2);
        margin: 0 -$space 0 -$space;
        &:not(:first-child) { margin-top: $space * 1.1; }
        &:not(:last-child) { margin-bottom: $space * 2; }

        @include respond-to(sm) {
            // margin: 0 $realignGridRight 0 $realignGridLeft;
            margin: 0 $realignGridAuto;
        }
    }

    @include respond-to(sm) {
        &.sm {
            margin: 0 $space * 2;
            &:not(:first-child) { margin-top: $space--X2; }
            &:not(:last-child) { margin-bottom: $space--X2; }
        }
    }

    &.stroked {
        img,
        video {
            border: 1px solid rgba($color-text,0.15);
            // overflow: hidden;
        }
    }

    &.boxed {
        background-color: lighten($color-bg-neutral,3%);
        padding: $space;
    }
}

figcaption {
    @include Meta($display: block);
    box-sizing: content-box;
    max-width: $columnText * 0.5;
    margin: $space * 0.5 auto 0;
    padding-right: $columnText * 0.5;
    text-align: left;
}
