

// --------------------------------------------------------------------------
// TYPOGRAPHY MIXINS
// --------------------------------------------------------------------------


// Reset for @font-face
// --------------------------------------------------------------------------

@mixin TypeReset() {
    font-style: normal;
    font-weight: normal;
}


// Text styles
// --------------------------------------------------------------------------

@mixin TextRg(
    $color: $color-text,
    $font: $font-text
) {
    @include TypeReset();
    color: $color;
    font-family: $font-text;
    font-size: $r-sizeText;
    letter-spacing: -0.005em;
    line-height: $base-line-height-unit;
    text-align: left;
    text-transform: none;
}

@mixin TextSm() {
    @include TextRg();
    font-size: $r-sizeText * 0.7;
    letter-spacing: 0.002em;
    // line-height: calc(#{$r-sizeText} * 1.5);
    line-height: 1.6;
}

@mixin Meta(
    $color: $color-text,
    $display: inline-block,
    $align: center
) {
    @include TypeReset();
    @include TextRg();
    display: $display;
    // font-family: $font-text;
    // font-size: rem(14);
    // letter-spacing: 0.01em;
    // line-height: calc(#{$r-sizeText} * 1.5);
    // line-height: 1.5;
    margin-bottom: 0;
    text-align: $align;
}

.Meta { @include Meta(); }


// Header
// --------------------------------------------------------------------------

@mixin Display() {
    @include TypeReset();
    font-family: $font-display;
    font-size: $r-sizeHeader;
    letter-spacing: 0.15em;
    margin: $space * 1.5 0;
    text-align: center;
    text-transform: uppercase;

    a {
        @include u-link(none);
        @include RuleTransition();
    }

    @include respond-to(sm) {
        // font-size: rem(60);
        // margin: ($spaceTitle * 2) auto ($spaceTitle * 2 + 1.5rem);
    }
}

h1,
.Display {
    @include Display();
    // color: salmon;

}


// Section headline / lede
// --------------------------------------------------------------------------

@mixin HeaderRule {
    border-bottom: 2px solid currentColor;
    margin-bottom: $spaceTitle;
    padding-bottom: $spaceTitle;
}

@mixin DisplaySubSpace() {
    margin: $spaceTitle auto 0;

    @include respond-to(sm) {
        margin: $spaceTitle auto 0;
    }
}

@mixin DisplaySub() {
    @include TypeReset();
    font-family: $font-sans-reg;
    font-size: rem(30); //35
    letter-spacing: 0.008em;
    line-height: 1.4;
    position: relative;
    text-align: center;
    text-transform: none;
    max-width: $columnText;

    a {
        @include u-link(none);
        line-height: inherit;
        text-decoration: none;

        > span {
            margin: rem(-40) rem(-20);
            padding: rem(40) rem(20);
            // border: 1px solid salmon;
        }
    }

    @include respond-to(sm) {
        // font-size: rem(16);
        // font-size: rem(21);
    }
}


// Text headlines
// --------------------------------------------------------------------------

@mixin SectionSub() {
    @include TextRg();
    // font-family: $font-section-title;
    font-family: $font-sans-bold;
    // font-size: calc(#{$r-sizeText} * 0.9);
    // font-size: $r-sizeText;
    // margin-bottom: $VertRhythmSpace;
    // letter-spacing: 0.002em;
    // line-height: 1.55;
    // text-transform: uppercase;

    a:before { background-color: transparent; }
}
