p Craig Mod is a writer and designer splitting his time between New York and Tokyo. He is a MacDowell Colony writing fellow and TechFellow. His writing has appeared in/on Aeon, New Scientist, Virgina Quarterly Review, The New Yorker, The New York Times, CNN.com, The Morning News, Codex: Journal of Typography, and elsewhere.
