.Article-footer
    .Article-authorImage
        img(src="../img/avatar.jpg", alt="")
    != partial("../shared/article-data")
    p Patternworks is the digital creative workshop of Callum Flack, in Cairns, Australia. He takes complex concepts and makes them into simple, understandable and actionable digital stories. #[a(href="mailto:callumflack@gmail.com?subject=Project inquiry&body=Hi Patternworks,%0D%0A%0D%0AI have a need / a problem / a new idea / other: ______. Our site is ______.%0D%0A%0D%0AHow do we proceed form here?%0D%0A%0D%0AKind regards, Your Name") Get in touch.]


//- #[a(href="/approach") Learn more] or 
