.Article-footer
    .Article-authorImage
        img(src="../img/avatar.jpg", alt="")
    != partial("../shared/article-data")
    p Patternworks is the solo digital identity consultancy of Callum Flack, located in Cairns, Australia. With 15 years in the business, his work is about taking complex concepts and making them into understandable bits of communication. #[a(href="/approach") Learn more].
