h1.Title Through collaboration and feedback, I eliminate the unnecessary so that the necessary may speak.
h1.Title Because I can build what I design, I know how things work, can optimise for change and turn blind spots into opportunity.
h1.Title We believe design is not only how it looks, but how it works. That’s why we build what we design.<br>
h1.Title Because the experience demands it.

# Headers
## Home
Are you worth the time?
Are you being seen in the crowd?
Are you telling your story in way people care for?
Do people listen to your story?
Your online brand is the sum of all it’s details. 
Do your customers/users think you're worth the time?
Nobody cares about your product. Fundamentally, what users care about is themselves.
Are you giving yourself the best possible chance?
We help you make products your customers will use. Learn more.
- https://knowyourcompany.com/story



## approach
eliminate the unnecessary so that the necessary may speak
Useful, engaging, augmentative


## work
Design has to work. Art does not.
eliminate the unnecessary so that the necessary may speak





p.u-textSm.u-textGrey.u-childLinkParagraph Flack Design + Development is a studio for screen (and print) in Sydney, Australia. Services include IA, UX, UI, web design, app design, interaction design, responsive device design, identity design, creative direction and digital strategy. Call +61(0) 408 767 540 or&nbsp;

p.u-textSm.u-textGrey.u-childLinkParagraph Flack Design + Development is a studio that makes useful, engaging interfaces for screens of all sizes and kinds. We work across all media (including print) as the strategy demands. Services include brand strategy, digital strategy, IA, UX, UI, web design, app design, interaction design, responsive device design, identity design and creative direction. We're native to Sydney, Australia. Call +61(0) 408 767 540 or&nbsp;
    a(href="/about") find out more about us.

p.u-marginTX13
    a.u-textSm.Button.Button--inlineList.Button--transSweep(href="#") +61(0) 408 767 540
    a.Button.Button--inlineList.Button--transSweep(href="#work") See the work
    a.Button.Button--inlineList.Button--transSweep(href="#journal") Read the journal
    a.Button.Button--inlineList.Button--transSweep(href="#contact") Get in touch
    a.Button.Button--inlineList.Button--transSweep(href="#contact") Twitter
    span.Meta.Meta--inlineList Sydney, Australia

    a.Button.Button--inlineList.Button--transSweep(href="/about") About
    a.Button.Button--inlineList.Button--transSweep(href="#work") Work
    a.Button.Button--inlineList.Button--transSweep(href="#journal") Blog
    a.Button.Button--inlineList.Button--transSweep(href="#contact") Contact
    a.Button.Button--inlineList.Button--transSweep(href="#contact") Follow
    span.Meta.Meta--inlineList Sydney, Australia



section.Section.Fold(role='more-information')
    a.Fold-toggle.fullWidth(href='#', data-toggle='1')
        p What exactly can you do? #[span.Pointer.Pointer--rightAlign ↑]

    .Fold-target(data-content='1')
        p With my broad skillset, I can help at almost any stage of the digital project lifecycle. Clients commonly come to me to improve existing brands or products—whether auditing or redesigning brand identities, interfaces, and user journeys, or adding, updating and fixing features in development—or to to help create new, best-in-class sites and apps from scratch.

    a.Fold-toggle.fullWidth(href='#', data-toggle='2')
        p Do you make responsive mobile websites? #[span.Pointer.Pointer--rightAlign ↑]
        //- p Do you make responsive sites for the mobile web? #[span.Pointer.Pointer--rightAlign ↑]

    .Fold-target(data-content='2')
        p Almost everyone now has a supercomputer in their pocket (that is, a  #[em smartphone]) and we use them, on average, once every 5 minutes. Your digital comms will depend on mobile, now or very soon. So every web project I produce is responsive by default, which means it will adapt to the screen size of any internet device. Flack D+D specialises in responsive, performant mobile websites.
        
    a.Fold-toggle.fullWidth(href='#', data-toggle='3')
        p What are the steps involved in a project? #[span.Pointer.Pointer--rightAlign ↑]

    .Fold-target(data-content='3')
        p Work engagement begins by auditing current communications and with a roadmapping session to obtain an agreed scope of work. The process is divided into logical steps and is done iteratively and—importantly—in partnership with you. 

    a.Fold-toggle.fullWidth(href='#', data-toggle='4')
        p How much does a typical project cost? #[span.Pointer.Pointer--rightAlign ↑]

    .Fold-target(data-content='4')
        p The web is wide and varied in scope; there's no one size fits all. So it depends on the strategy we define together and the resulting mix of market, technology, and business requirements. The work is always tailored to your budget. Get in touch to find out more.
            


.FlexGrid.Fold-item--smGrey.u-marginB0
    .FlexGrid-item
        p Strategy
        ul
            li naming
            li brand positioning
            li brand architecture
            li brand guardianship
            li competitor and communications audits
            li tone of voice
            li interviews and customer journeys

    .FlexGrid-item
        p Design
        ul
            li brand identity
            li brand styleguides
            li responsive websites
            li iOS & Android apps
            li web apps
            li app prototyping
            li MVPs
            li ecommerce
            li literature
            li packaging

    .FlexGrid-item.is-double
        p Development
        ul
            li HTML5 & CSS3
            li javascript & jquery
            li enough Ruby on Rails & PHP
            li I love HarpJS
            li Gulp & Grunt
            li Phonegap
            li Statamic
            li Wordpress
            li Craft
            li Shopify
            li Mailchimp
