p 
    em Patternworks is a digital product workshop.#[br]
    != partial("contact-points")
    | #[br]
    | 16 Ponticello Street, Edge Hill 4870, Cairns, Australia.#[br]
p.Meta ABN 18 827 101 933. © 2015 Patternworks.
