footer.Footer(role="contentinfo")
    .Container
        .MetaNav.MetaNav--bottom.lg-MetaNav--top
            a(href="#top") Back to top #[span ↑]
            
        nav.Nav(role="navigation")
            ul
                li 
                    a(class="#{ current.path[0] == 'index' ? 'is-active' : '' }" href="/") Home
                li 
                    a(class="#{ current.path[0] == 'work' ? 'is-active' : '' }" href="/work") Work
                li 
                    a(class="#{ current.path[0] == 'approach' ? 'is-active' : '' }" href="/approach") Approach
                li 
                    a(class="#{ current.path[0] == 'blog' ? 'is-active' : '' }" href="/blog") Blog

        p 
            //- em Patternworks is a digital identity & communications workshop.#[br]
            em Patternworks creates digital identities & communications. 
            != partial("contact-points")
            | #[br]
            | 16 Ponticello Street, Edge Hill 4870, Cairns, Australia.
        p.Meta 
            | ABN 18 827 101 933. © 2015 Patternworks
