header.Header#top(role="banner")
    .Header-title
        span #[a(href="/") Patternworks]

        //- if current.path[0] !== "index" || current.path[0] !== "404"
        
        if current.path[0] !== "index"
            span :

        if current.path[0] === "approach"
            span #[a(href="/approach") approach]
                        
        if current.path[0] === "work"
            span #[a(href="/work") Work]
     
        if current.path[0] === "blog"
            span #[a(href="/blog") Blog]
    
    if current.source === "index"
        if current.path[0] === "index"
            summary.Summary
                //- p 
                    //- span.Emphasis When it's so easy to be online, how can you stand out in a crowd?
                    span.Emphasis How can you stand out in a crowd?
                //- p Patternworks creates digital identities and communications that resonate by focussing on outcomes and stacking up details. 
                //- p.Em Brands, products, campaigns and interactive experiences for every screen. 
                p.Em The difference is the sum of small details.
                //- p.Em creates digital identities and communications that resonate by focussing on outcomes and stacking up details. 
                //- p
                    //- | Patternworks is the solo workshop of Callum Flack, based in Cairns, Australia. 
                    | Read about my #[a(href="/approach") approach], or get in touch via: 
                    a(href="mailto:callumflack@gmail.com") email
                    span &nbsp;• 
                    a(href="https://twitter.com/callumflack") twitter
                    span &nbsp;• 
                    a(href="tel:+610-408-767-540") +61(0)408 767 540
                    
                p.Tint
                    | To know more, read about my #[a(href="/approach") approach], get in touch by 
                    a(href="mailto:callumflack@gmail.com") email
                    span &nbsp;or 
                    a(href="https://twitter.com/callumflack") twitter
                    | &nbsp;. Or just keep scrolling.

        if current.path[0] === "work"
            //- summary.Summary
            //-     p I'll help you make digital communications your customers will want to spent their time with.

        if current.path[0] === "approach"
            summary.Summary
                p With fifteen years experience creating visual identities and communications, Patternworks is the solo digital product workshop of Callum Flack, located in Cairns, Australia.
