header.Header#top(role="banner")
    .Header-title
        span.NoSpace #[a(href="/") Patternworks]

        //- if current.path[0] !== "index" || current.path[0] !== "404"
        
        if current.path[0] !== "index"
            span.NoSpace :

        if current.path[0] === "approach"
            span #[a(href="/approach") About]
                        
        if current.path[0] === "work"
            span #[a(href="/work") Work]
     
        if current.path[0] === "blog"
            span #[a(href="/blog") Blog]
    
    
    if current.source === "index"
        if current.path[0] === "index"
            summary.Summary
                //- p 
                    //- span.Emphasis When it's so easy to be online, how can you stand out in a crowd?
                    span.Emphasis How can you stand out in a crowd?
                //- p Patternworks creates digital identities and communications that resonate by focussing on outcomes and stacking up details. 
                //- p.Em Brands, products, campaigns and interactive experiences for every screen. 
                //- p.Em The difference is the sum of small details.
                //- p.Em Delightful, considered experiences for every screen.
                //- p.Em creates digital identities and communications that resonate by focussing on outcomes and stacking up details. 
                //- p
                    //- | Patternworks is the solo workshop of Callum Flack, based in Cairns, Australia. 
                    | Read about my #[a(href="/approach") approach], or get in touch via: 
                    a(href="mailto:callumflack@gmail.com") email
                    span &nbsp;• 
                    a(href="https://twitter.com/callumflack") twitter
                    span &nbsp;• 
                    a(href="tel:+610-408-767-540") +61(0)408 767 540
                
                //- p.Em Delightful. Clear. Useful. Augmentative. #[span Considered experiences for every screen.]
                //- p.Tint
                //-     | To know more, read about my #[a(href="/approach") approach], get in touch by 
                //-     a(href="mailto:callumflack@gmail.com") email
                //-     span &nbsp;or 
                //-     a(href="https://twitter.com/callumflack") twitter
                //-     //- | &nbsp;. Or just keep scrolling #[span.Icon ↓]
                //-     | &nbsp;. Or scroll.

                //- p.Amp Delightful. Clear. Useful. Augmentative. #[span Considered experiences for every screen.]
                //- p.Amp Delightful, clear and considered identities for every screen. 
                p Delightful, clear and considered experiences for every screen. 
                    != partial("contact-email")
                    
        if current.path[0] === "work"
            summary.Summary
                p Creative problem-solving to get the story out. 
                    a(href="#start") Starting with Why, not How.

        if current.path[0] === "approach"
            summary.Summary
                //- p Eliminate the unnecessary so that the necessary may speak.
                //- p.Em Fifteen years of visual communication knowhow.
                //- p.Em Fifteen years of creating customers through problem-solving.
                //- p.Em Fifteen years of creative problem-solving to get the story out.
                //- p.Em Fifteen years of creative problem-solving to tell stories that customers care for.
                //- p.Em Fifteen years of making the complex simple.
                //- p.Tint Patternworks is the independent digital communications workshop of Callum Flack, located in Cairns, Australia.
                p An independent digital creative workshop in Cairns, Australia. 
                    //- span.Em For the territory, not the map.
                    a(href="#start") I plan, design & build for the web.
