nav.Nav(role="navigation")
    ul
        li 
            a(class="#{ current.path[0] == 'index' ? 'is-active' : '' }" href="/") Home
        li 
            a(class="#{ current.path[0] == 'work' ? 'is-active' : '' }" href="/work") Work
        li 
            a(class="#{ current.path[0] == 'approach' ? 'is-active' : '' }" href="/approach") Approach
        li 
            a(class="#{ current.path[0] == 'blog' ? 'is-active' : '' }" href="/blog") Blog
