h3.Headline Receive new posts by email
form(action='http://callumflackdesign.createsend.com/t/r/s/xjrurh/', method='post')
    label(for="fieldEmail") Email
    input#fieldEmail(name='cm-xjrurh-xjrurh', type='email', required='required' placeholder='Subscribe to Flack')
    a.Button.Button--submit(type='submit', role='button') Stay in touch
