//- | Patternworks plans, designs and builds identities and websites that resonate, by focussing on outcomes and executing with detail.
//- | Patternworks plans, designs and builds digital brands that resonate, by using an #[a(href="/approach") approach] that focuses on outcomes and executes with detail.
//- | Patternworks plans, designs and builds digital brands that resonate, by focussing on outcomes and executing with detail. Learn about our #[a(href="/approach") approach].
//- | #[span Patternworks] plans, designs and builds digital brands that resonate. We focus on outcomes and execute with detail. Learn more via our #[a(href="/approach") approach] or read the #[a(href="/blog") blog].

//- summary 
    //- p 
        | Patternworks is the solo digital product workshop of Callum Flack, located in Cairns, Australia. I plan, design and build identities and websites that resonate by a focussing on outcomes and executing with detail. #[a(href="/approach") Learn about my approach].
        != partial("contact-points")






summary 
    if current.path[0] === "index" && current.source === 'index'
        //- p Your online brand is the sum of all it’s details. 
        p Patternworks is the solo digital product workshop of Callum Flack, located in Cairns, Australia.
        p I plan, design and build identities and websites that resonate by a focussing on outcomes and executing with detail. #[a(href="/approach") Learn about my approach]. 
        p.Text
            != partial("contact-points")

    if current.path[0] === "work" && current.source === 'index'
        p Fifteen years of knowhow. Patternworks is the solo digital product workshop of Callum Flack, located in Cairns, Australia.
