main.Content(role="main")
    article.Article
        .Container
            //- h2 Creating for the territory, not the map.
            //- figure.contained
                img(src="/img/16x9-03.jpg", alt="Callum Flack", height='')
                
            h3 About
            p Patternworks is the solo digital design consultancy of Callum Flack. My work is about taking things that are complex and making them understandable. Whether through graphics, typography, copywriting, interaction or technology—the work is done in whatever mode will resonate greatest. 
            
            h3 Experienced
            p 
                | Since starting in 1999, I've worked in design studios 
                | (#[a(href="http://www.saatchi-design.co.uk/") Saatchi & Saatchi Design, London]), 
                | inhouse startup teams (#[a(href="http://www.boxdice.com.au/") Box+Dice, Melbourne] and 
                | #[a(href="http://www.welend.hk/") WeLend, Hong Kong]), 
                | and advertising (#[a(href="hhttp://www.gpyr.com.au/") GPYR, Brisbane] and #[a(href="http://www.ward6.com.au/") Ward 6, Sydney]). 
                | I've also co-run a record label (#[a(href="http://www.thee-roundtable.com/") Roundtable Records]). 
                | Lots of people have said nice things about working with me. You can read a few of them on #[a(href="https://au.linkedin.com/in/callumflack") LinkedIn].
            
            p I'm also an amateur musicologist. I live with my family in the tropics of Cairns, where I dehumidify my record collection weekly.
            
            h3 A designer who codes
            p After a decade as a graphic designer, and disappointed with the standard of the digital projects I was involved with, I decided—without any prior programming knowledge—to learn how to build interfaces myself. The rewards have far outweigheded the pain, and made me a better designer.

            h3 Why both design and code?
            p Because design is more than how it looks, it's how it works. Being able to build what I design, I can see how brand, usability and technical domains interplay. This helps me think in systems, turn blind spots into opportunity and make better digital products and services.
            
