

// --------------------------------------------------------------------------
//   BASE: LINK
// --------------------------------------------------------------------------


a {
	@include baseTransition();
	border-bottom: 1px solid rgba( palette(brand), 0.2 );
	color: palette(brand);
	text-decoration: none;

	@include on-event() {
		@include baseTransition();
		color: palette(brand);
	}
}

p a,
li a {
	color: currentColor;

	@include on-event() {
		background-color: palette(brand);
	}
}
