

// --------------------------------------------------------------------------
//   COMPONENT: BLOG POSTS
// --------------------------------------------------------------------------


// Post block.
// When a post is also a link.
// --------------------------------------------------------------------------

a.Post--inList {
	@include complexLink();
	border: 0;
	display: block;

	+ .Post--inList {
		// margin-top: space(3.25);
		margin-top: $sectionSpacer / 2;
	}

	@include on-event() {
		.o-coverImage,
		.Post-image {
			@include baseTransition();
			opacity: 0.5;
		}
	}
}



.Post-image {
	margin-bottom: space(1);

	&--fullWidth {
		margin-bottom: space(1);
	}
}



.Post-hero {
	@include headerTextBlock();
}

.Post-hero--inverse {
	@include reverseTextBlock();
}

.Post-content {
	// content: 'viewport-units-buggyfill; padding-bottom: calc(100vh);';
	padding: calc(#{$sectionSpacer} * 0.25) 0 calc(#{$sectionSpacer});
}
