

// --------------------------------------------------------------------------
//   COMPONENT: BLOG POSTS
// --------------------------------------------------------------------------





// Post block
// --------------------------------------------------------------------------

a.Post {
	@include complexLink();

	+ .Post {
		margin-top: space(3.25);
	}

	@include on-event() {
		.CoverImage {
			@include baseTransition();
			background-blend-mode: multiply;
			background-color: rgba( palette(brand), 0.4 );
			// filter: grayscale(100%);
			// opacity: 0.3;
		}
	}

	@include when-inside(".post") {
		@include on-event() {
			.CoverImage {
				opacity: 0.2;
			}
		}
	}
}

.Post-image {
	margin-top: space(0.3);

	&--fullWidth {
		margin-bottom: space(1);
	}

	&--dark .CoverImage {
		opacity: 0.5;
	}

	.CoverImage {
		@include baseTransition();
	}
}



.Post-hero {
	@include headerTextBlock();
}

.Post-hero--inverse {
	@include reverseTextBlock();
}

.Post-content {
	// content: 'viewport-units-buggyfill; padding-bottom: calc(100vh);';
	padding: calc(#{$sectionSpacer} * 0.25) 0 calc(#{$sectionSpacer});
}
