

// --------------------------------------------------------------------------
//   LAYOUT: SECTION
// --------------------------------------------------------------------------


@mixin sectionSpacer {
	// content: 'viewport-units-buggyfill; padding-bottom: calc(100vh);';
	padding: space(10) 0;
	padding: calc(#{$sectionSpacer}) 0;
}

.Section {
	@include sectionSpacer();

	&.Section--neutral { background-color: palette(neutral); }
	&.Section--black   { @include reverseTextBlock(); background-color: palette(black); }
}
