

// --------------------------------------------------------------------------
// COMPONENT: CONTAINER
// --------------------------------------------------------------------------


@mixin Container(
	$width: container-width(lg)
) {
	@include clearfix();
	margin: 0 auto;
	max-width: $width;
	padding: 0 space(1);
	position: relative;

	@include media-breakpoint-up(sm) {
		padding: 0;
	}
}

.Container {
	@include Container();

	&--xl {
		@include Container( container-width(xl) );
	}

	&--insetTextColumn {

	}
}

.Column--text {
	max-width: container-width(md);
	margin-left: 0;

	> p,
	> ul {
		// @include Container();
	}
}
