

// --------------------------------------------------------------------------
//   HEADLINE TYPOGRAPHY
// --------------------------------------------------------------------------


// Common theme

@mixin headlineTemplate() {
	@include typeReset();
	color: palette(text);
	font-family: $font-display;

	// The interpolation brackets #{ } are needed as two touching ampersands are invalid Sass.
	// https://css-tricks.com/the-sass-ampersand/
	// http://webdesign.tutsplus.com/tutorials/all-you-ever-need-to-know-about-sass-interpolation--cms-21375

	// &#{a} {
	//     @include on-event() {
	//         opacity: 0.4;
	//         transition: opacity 500ms ease;
	//     }
	// }

	@include media-breakpoint-up(xs) {
	}
}


// Loop thru sizes

@mixin headlineSm() {
	@include headlineTemplate();
	font-size: fs(headlineSm, xs);
	letter-spacing: 0.03em;
	line-height: 1;

	@include respond-to(xs) {
		font-size: fs(headlineSm, base);
	}
}

@mixin headlineRg() {
	@include headlineTemplate();
	font-size: fontsize(headerRg, xs);

	@include respond-to(xs) {
		font-size: fontsize(headerRg, base);
	}
}

@mixin headlineDisplay() {
	@include headlineTemplate();
	font-size: fontsize(display, xs);
	// letter-spacing: -0.01em;
	line-height: 1.25;
	margin-bottom: space(1.25);

	@include respond-to(xs) {
		font-size: fontsize(display, base);
		width: 65%;
	}
}


// Initiate in classes.
// Hierarchy: primary, secondary, tertiary, quaternary, quinary, senary,
// septenary, octonary, nonary, denary and super.
// --------------------------------------------------------------------------

// .u-headline            { @include headlineRg(); }
// .u-headlineEm          { @include headlineRg($mixinFont: $font-text-medium-i); }
// .u-headline--light     { @include headlineRg($mixinColor: palette(brand-counter)); }
// .Headline--sm        { @include headlineSm(); }
// .Headline--secondary { @include headlineSecondary(); }
// .Headline--tertiary  { @include headlineTertiary(); }

.Headline       { @include headlineDisplay(); }
.Headline--sm   { @include headlineSm(); }

// Headline blocks
.Headline-block { > * { @include headlineDisplay(); } }

.Headline-block--footer {
	@include listClean();
	margin-bottom: 0;

	> * {
		@include headlineDisplay();
		margin-bottom: 0;
	}
}
