

// --------------------------------------------------------------------------
//   HEADLINE TYPOGRAPHY
// --------------------------------------------------------------------------


// Common theme…

@mixin headlineTemplate(
	$mixinSize: Display,
	$mixinColor: palette(text),
	$mixinFont: $font-display,
	$mixinLetterSpacing: 0,
	$mixinLineHeight: 1.25,
	$mixinMarginBottom: space(1.25)
) {
	// reset
	// this may not be needed if we've styled the body
	// so everything inherits it…
	// @include typeReset();

	// standards
	color: $mixinColor;
	font-family: $mixinFont;
	line-height: $mixinLineHeight;
	margin-bottom: $mixinMarginBottom;

	// sizes
	font-size: fs($mixinSize, xs);
	@include media-breakpoint-up(sm) { font-size: fs($mixinSize, sm); }

	// children
	> li,
	> li a,
	> a {
		color: currentColor;
		font-family: inherit;
		font-size: inherit;
		margin: 0;
	}
}


// Components by size…

@mixin headlineSm() {
	@include headlineTemplate(
		$mixinSize: Headline--sm,
		$mixinLetterSpacing: 0.03em,
		$mixinLineHeight: 1,
		$mixinMarginBottom: 0
	);
}

@mixin headlineDisplay() {
	@include headlineTemplate();

	@include media-breakpoint-up(sm) {
		width: 65%;
	}
}





// Initiate mixins in classes.
// Hierarchy idea: primary, secondary, tertiary, quaternary, quinary,
// senary, septenary, octonary, nonary, denary and super.
// --------------------------------------------------------------------------

.Display        { @include headlineDisplay(); }
.Headline--sm   { @include headlineSm(); }


// Initiate mixins in blocks.
// --------------------------------------------------------------------------

.Headline-block { > * { @include headlineDisplay(); } }

.Headline-block--footer {
	@include listClean();
	margin-bottom: 0;

	> * {
		@include headlineDisplay();
		margin-bottom: 0;
	}
}
