doctype
html
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title= locals.title ? title + " | " + site_title : site_title
		if current.path[0] === "index"
			meta(name='description', content= site_description)
		else
			if current.path[0] === "blog"
				meta(name='description', content= site_description)
		link(rel="stylesheet" href="/assets/stylesheets/application.css")
		//- link(rel="stylesheet", href="/assets/stylesheets/owl.carousel.css")

	body(class="#{current.path[0]} #{current.path[1]} FooterSpace")

		!= partial("_shared/tagmanager")
		


		!= partial("_shared/nav")
		
		main.Main(role="main")
		
			if current.path[0] === "index"
				!= yield
			
			if current.path[0] === "about"
				!= yield
			
			if current.path[0] === "work"
				//- != partial("/posts/_work")
				!= partial("/work/_decorator")
			
			if current.path[0] === "blog"
				!= partial("/posts/_blog")
			
			if current.path[0] === "dataprint"
				!= yield

			else if ["404"].indexOf(current.path[0]) !== -1
				!= yield

		unless current.path[0] === "dataprint"
			!= partial("_shared/footer")
			
			

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
		//- script(src="/assets/javascripts/lib.owl.carousel.min.js")
		//- script(src="/assets/javascripts/jquery.colorscroll.min.js")
		//- script(src="/assets/javascripts/lib.owl.carousel.min.js")
		//- script(src="/assets/javascripts/lib.flickity.min.js")
		//- script(src="/assets/javascripts/application.js")
		script(src="/node_modules/viewport-units-buggyfill/viewport-units-buggyfill.hacks.js")
		script(src="/node_modules/viewport-units-buggyfill/viewport-units-buggyfill.js")
		script(type='text/javascript').
			window.viewportUnitsBuggyfill.init({
				refreshDebounceWait: 50,
				hacks: window.viewportUnitsBuggyfillHacks
			});
		!= partial("_shared/analytics")
