header.Header(role="banner")
	section.Section
		.Container.Container--rule
			:markdown
				Services, not brands.<br>
				Usability, not persuasion.<br>
				Utilities, not destinations.

main.Content(role="main")
	section.Section
		.Container.Container--rule.Container--slow
			:markdown
				Patternworks plans, designs and builds websites that are fast, simple and useful. 
				
				We make it really easy for your customers to do business with you. 
				
				We work closely with our clients to understand who their customers are, and what they need. 
				
				We take big picture business problems and turn them into simple, understandable and actionable user experiences. 
				
				We use interaction design, graphic design, copywriting, and code to execute the stack of details required. 
				
				We think great user experiences make better customer services. And that great service is worth far more than branding.

footer.Footer(role="main")
	section.Section
		.Container.Container--light
			:markdown
				Patternworks is lead by Callum Flack, working with a band of cohorts, from Cairns, Australia. Since starting in 2000, Callum has worked in design studios ([Saatchi & Saatchi Design, London](http://www.saatchi-design.co.uk/sagatiba)), agencies ([GPYR, Brisbane](http://www.gpyr.com.au/) and [Ward 6, Sydney](http://www.ward6.com.au/)) and startup teams ([Box+Dice, Melbourne](http://www.boxdice.com.au/)). Until our website is ready, please check out our recent work:
				
				* [Ward 6 website](http://www.ward6.com.au/)
				* [Primary Healthcare NQ app](https://qolsurvey.primaryhealth.com.au/)
				* [Therese Plath Ray White website](http://www.thereseplath.com.au/)
				* [Remote Area Aboriginal Child Care website](http://raatsicc.org.au/)
				* [Bellflower Chinese Medicine website](http://www.bellflowerchinesemedicine.com.au/)
				
				Get in touch by [email](mailto:hi@patternworks.com.au?subject=Project inquiry&body=Hi Patternworks,%0D%0A%0D%0AI have a need / a problem / a new idea / other: ______. Our site is ______.%0D%0A%0D%0AHow do we proceed form here?%0D%0A%0D%0AKind regards, Your Name), [twitter](https://twitter.com/patternworks_) or by calling [+61(0) 408 767 540](tel:+610-408-767-540). 
			
				
	//- You can also follow our updates on <a href="https://twitter.com/patternworks_">twitter</a>.
	//- _Technology matters._ If you don’t understand the materials you are working with, you can’t build the right thing, even if you go about it in the right way. You can’t build what you can’t think of in the first place.
	//- 
	//- _Design matters._ Design is the interface between technology and people. Digital productivity is not a technology problem, it's a human problem. People come first, then technology.
				
	//- * [Gravitas Energy website](http://www.gravitasenergy.com.au/)
	//- <a class="Arrow-right" href="/about">Learn more</a>

	//- section.Section.Section--black
	//- 	.Container.Container--insetText
	//- 		h1 blog
	//- 		.FlexEmbed.u-marginT6.u-marginB6
	//- 			.FlexEmbed-ratio.FlexEmbed-ratio--versions
	//- 			.FlexEmbed-content(style="background-image: url('/images/hero-oceanblueliving.png')")
	//- 		:markdown
	//- 			Patternworks offers a wholistic approach for building digital businesses that is measurably successful and always looks good. We work closely together with our clients in order to understand who your customers are, who they can be, and what their needs are. We plan for agreed-upon outcomes and we execute the stack of details required to make the experience real. We believe great user experiences will win you more fans than advertising. <a class="Arrow-right" href="/about">Read more</a>
