.Hero
	.FlexEmbed
		.FlexEmbed-ratio.FlexEmbed-ratio--versions
		.FlexEmbed-content
			.Slide(style="background-image: url('/images/hero-ward6.png')")
				
	.HeaderWrapper
		header.Header#top(role="banner")
			.o-container
				a(href="/") #[h1= title]
					//- p.u-marginT2.u-sm-marginT4= site_description
					
	nav.Nav
		a.Arrow-left(href="/") &nbsp;

section.Section
	.o-container
		!= yield
