p Box+Dice makes software for the Real Estate industry, in Melbourne, Australia. Working with the business owner over two years, I devised a highly polished brand identity—for print and interfaces—that spoke to it's Real Estate ‘visual achiever’ archetype users.

figure.lg
    img(src='/img/boxdice-logo.jpg', data-action='zoom')
    //- .FlexEmbed
    //-     .FlexEmbed-ratio.FlexEmbed-ratio--2by1
    //-     .FlexEmbed-content
    //-         .CoverImage(style="background-image: url(/img/boxdice-logo.jpg)", data-action='zoom')

//- != partial("../_shared/article-header")

//- p Box+Dice supplies enterprise CRM software products to, and dominates, the Victorian Real Estate industry. The essence of Box+Dice is that of the Real Estate ‘visual achiever’ archetype.

p For the logotype I redesigned (above), I adapted the letterforms of the Klavika typeface, introduced a tag-line and reinvigorated the colourscheme with a 'bluescape' that worked both on white and reversed out, to stand in stark contrast with poorly-executed original (below).
    
figure.boxed
    img(src='/img/boxdice-logo-orig.png', data-action='zoom')

p For each product in the software range—named by the business owner in consultation with myself—the logo used hand-drawn custom lettering with the bluescape colours. The logos work on both white and bluescape backgrounds. The iPad app icon, designed 18 months after the product suite logos, is a natural progression.

figure.boxed
    img(src='/img/boxdice-logo-suite.png', data-action='zoom')
    img(src='/img/boxdice-app-icon-onscreen.jpg', data-action='zoom')

p We applied this identity to exhibition displays and wall prints for Box+Dice's sponsorship of the AREC Sydney conference for three consecutive years.

figure
    img(src='/img/boxdice-arec-bw.jpg', data-action='zoom')
figure.stroked
    img(src='/img/boxdice-wall.jpg', data-action='zoom')

    
p The identity system was used to redesign over 75 different marketing brochures, help guides, registration and administration forms.

figure.stroked
    img(src='/img/boxdice-forms.jpg', data-action='zoom')

h3 Learning to code by rebuilding the website
p The website was also redesigned to match the new identity. It was at this point in my career that I learned to code. Working alongside a team of Ruby developers who took pride in their daily stand-ups and agile development methods, and starting with zero knowledge, zero confidence and much frustration, I began come to grips with a new way of working and thinking.

figure.boxed
    img(src='/img/boxdice-website.png', data-action='zoom')

p The site expanded the range of iconography we'd been using in our marketing collateral into large illustrative versions.

figure
    img(src='/img/boxdice-website-icons.jpg', data-action='zoom')

p Han characters served as icons in an interactive block that explains what conditions and treatments Bellflower accomodates. By folding away the treatments and conditions until interaction, we were able to simplify content for a simpler, faster home page.

figure
    img(src='/img/boxdice-userflow-sketch.jpg', data-action='zoom')

p Han characters served as icons in an interactive block that explains what conditions and treatments Bellflower accomodates. By folding away the treatments and conditions until interaction, we were able to simplify content for a simpler, faster home page.

figure.stroked
    img(src='/img/boxdice-blast.jpg', data-action='zoom')


//- section
//-     h3 Further case studies
//-     != partial("../_shared/work-projects")
