- var assetPath = "/assets/images/";

.Block--narrow.Block--betweenT.s-Block
	p OceanBlue Living were stuck with a website they couldn't update themselves, and they badly needed to talk to their audience. After workshopping their needs and their users requirements, we repositioned their business, redesigned the site to better inform users and built an estimator to filter and prioritise their client referrals (this feature is will be added to the site soon).

.Block--mid.Block--between
	.FlexEmbed.Frame
		.FlexEmbed-ratio.FlexEmbed-ratio--laptop
		.FlexEmbed-content
			video.Screen(autoplay="", loop="")
				source(src='#{assetPath}oceanblue-living-video.mp4', type='video/mp4')
				| Your browser does not support the video tag. Please upgrade your browser.

.Block--narrow.Block--betweenT.s-Block
	p Their metalworks are rugged and beautiful. We hired #[a(href="http://j-create.com.au/") J-Create Photography] to ensure this beauty was showcased, and designed the website experience around immersive photography: full width images and sliders are used to show the variety of works. 

.Block--mid.Block--between
	img(src="#{assetPath}oceanblue-living-photography.jpg", alt="")

.Block--narrow.s-Block
	p The visual design system uses clear and simple typography, with hand-drawn icons that match the 'craftsmanship' archetype central to their brand repositioning.

.Block--mid.Block--between
	picture
		source(media='(max-width: 768px)', srcset="#{assetPath}oceanblue-living-visual-system-xs.png")
		img(src="#{assetPath}oceanblue-living-visual-system.png", alt="OceanBlue Living graphic icon system")

.Block--narrow.s-Block
	p The heart of the website will be the blog, a place we hope people will dream up their perfect home and office space, and create a community around OceanBlue's works.

	blockquote "Patternworks showed us a vision of our business that surpassed ours. More than that, they've made it a reality—the project execution has been just plain fun to be part of. We're very happy with the results, and it's very quickly raised our awareness two-fold." — LeaAnne Cassaniti, Oceanblue Living

	p: a(href="http://www.oceanblueliving.com.au/") Visit the site.
	
	.Block--between
		.Grid
			.Grid-cell.u-sm-size1of3
				ul.List--meta
					li.List--meta-title Plan
					li Brand strategy
					li Digital strategy
					li Content strategy
					li.List--meta-title Design
					li User experience design
					li Creative direction
					li Visual design
					li.List--meta-title Build
					li Frontend development
					li Content management system
			.Grid-cell.u-sm-size2of3
				ul.List--meta
					li.List--meta-title Collaborators
					li: a(href="http://j-create.com.au/") J-Create, photography
					li.List--meta-title Technology
					li Jekyll
					li Siteleaf

//- a.Block--halfSpace(href="/work/primary-healthcare-network")
//- 	.Block--masthead
//- 		h1.Headline Primary Healthcare Network →
