- var assetPath = "/assets/images/";

.Block--narrow.Block--betweenT.s-Block
	p Ward 6 Digital specialised in creating sophisticated, interactive iPad-based sales tools for Pharma and Health clients. I worked with the team to modernised development processes for efficiency and version control, to help build apps faster and manage iterations better, and to bring design sensibility to data-based showcases.

.Block--mid.Block--between
	.FlexEmbed.Frame
		.FlexEmbed-ratio.FlexEmbed-ratio--ipadL
		.FlexEmbed-content
			video.Screen(autoplay="", loop="")
				source(src='#{assetPath}ward6-baxter.mp4', type='video/mp4')
				| Your browser does not support the video tag. Please upgrade your browser.

.Block--narrow.Block--betweenT.s-Block
	p The Baxter Peritoneal Dialysis app was a simple value proposition project, relative to the level of interaction we had produced in other projects. We used a clean typographic-driven approach paired with illustration, emulating editorial graphic design. The app is brought to life by the calm, measured transitions for interaction and page loads.

.Block--mid.Block--between
	.FlexEmbed.Frame
		.FlexEmbed-ratio.FlexEmbed-ratio--ipadL
		.FlexEmbed-content
			video.Screen(autoplay="", loop="")
				source(src='#{assetPath}ward6-actifuse.mp4', type='video/mp4')
				| Your browser does not support the video tag. Please upgrade your browser.

.Block--narrow.s-Block
	p The app for Actifuse Bone Graft Substitute held a large information set, so it's success relied on clear navigation that avoided complication by revealing extended pathways when required. I worked closely with Ward6 founder Grant Foster applying a design direction across the app, designing the information architecture to fit the design direction, and building it, managing detailed client feedback iteration.

	p These projects are not publicly available.

	.Block--between
		.Grid
			.Grid-cell.u-sm-size1of3
				ul.List--meta
					li.List--meta-title Design
					li Art direction
					li Visual design
					li.List--meta-title Build
					li Frontend development
			.Grid-cell.u-sm-size2of3
				ul.List--meta
					li.List--meta-title Collaborators
					li Grant Foster, Creative direction
					li Jonathan Palasty, Art direction
					li Antonio de Perio, Frontend development
					li Cynthia Sánchez García, Frontend development

a.Block--halfSpace(href="/work/oceanblue-living")
	.Block--masthead
		h1.Headline OceanBlue Living →
