p The Bellflower Chinese Medicine website was designed to be different among it's competitors by getting the basics right: well-structured, meaningful content, presented as a clear, smart mobile-first experience.

figure.lg
	img(src='/img/TC-home-context.jpg', data-action='zoom')
	//- figcaption
		p The mobile site home page acts as a business card, clearly and concisely showing value offering and contact details.

//- p The Bellflower Chinese Medicine website was designed to be different among it's competitors by getting the basics right: well-structured, meaningful content, presented as a clear, smart mobile-first experience.

p The Bellflower Chinese Medicine website was designed to be different among it's competitors by getting the basics right: well-structured, meaningful content, presented as a clear, smart mobile-first experience.

p Content was structured into clearly defined sections shown by order of importance. For example, the home screen (below) acts as a large menu with distinct section links. The content was reduced for mobile skimming, so a user can get what they need, quickly.

figure.stroked
	.FlexEmbed
		.FlexEmbed-ratio.FlexEmbed-ratio--4by3
		.FlexEmbed-content
			//- video(width='100%', height='100%', controls='', autobuffer='', preload='', poster='', autoplay="autoplay", loop="loop")
			video(controls='', autobuffer='', preload='', poster='')
				source(src='/img/TC-home.mp4', type='video/mp4')
				source(src='/img/movie.ogg', type='video/ogg')
				| Your browser does not support the video tag.

h3 An interface made of typography
p The site consists of classic, legible typography. Interface elements were simply typographic variations. Icons and primary buttons were accentuated with highlight colours.

figure.stroked
	img(src='/img/TC-type.jpg', data-action='zoom')

p Han characters served as icons in an interactive block that explains what conditions and treatments Bellflower accomodates. By folding away the treatments and conditions until interaction, we were able to simplify content for a simpler, faster home page.

figure.stroked
	.FlexEmbed
		.FlexEmbed-ratio.FlexEmbed-ratio--4by3
			.FlexEmbed-content
				video(controls='', autobuffer='', preload='', poster='')
					source(src='/img/TC-conditions.mp4', type='video/mp4')
					source(src='/img/movie.ogg', type='video/ogg')
					| Your browser does not support the video tag.

h3 Flat file blogging
p Blogging about health and wellbeing is a focus for Bellflower. Using Harp JS, the blog is written in plain text files and powered by simple javascript. No need to manage a database, nor plugins, you can version control it and it's easy to debug. What does that mean for Bellflower? A simpler codebase means less risk factors, less maintenance and easier future development.

h3 Positive word of mouth, by design
p Analytics has shown the revised site retains users for 400% longer than the old site. And Bellflower regularly have customers who comment positively about the site during their appointments. #[a(href="http://bellflowerchinesemedicine.com.au/") Check out the site.]
