- var assetPath = "/assets/images/"

header.Header(role="banner")
	.Block--space.Header--animateIn
		.Block--masthead
			h1.Display A digital design workshop in tropical Cairns, Australia.
	.Block.Hero--animateIn
		figure
			img(src="#{assetPath}about-hero.jpg", alt="")

//- header.Header.Header--animateIn(role="banner")
	.Block.Block--height5of6
		.o-aligner
			.o-aligner-item
				.Block--masthead
					h1.Display We're a digital design workshop in tropical Cairns, Australia.
//- .Hero--animateIn
	.FlexEmbed
		.FlexEmbed-ratio.FlexEmbed-ratio--2by1
		.FlexEmbed-content
			.o-coverImage(style="background-image: url('#{assetPath}about-hero.jpg');")

section.Content--bottomPadding
	.Block--narrow.Block--betweenT.s-Block
		!= partial("_content/about")
		//- .Block--figureLg
			img(src="#{assetPath}about-services.png", alt="")
		!= partial("_content/what")
		//- .Block--figureLg
		!= partial("_content/how")
