header.Header(role="banner")
	.Block
		.Nav-wrapper
			.o-aligner
				.o-aligner-item
					.o-container
						.Column--text
							!= partial("../_shared/nav-toggle")
		.o-aligner
			.o-aligner-item
				.o-container
					.Column--text.u-marginB3
						h1.Display--su The About headline is a phrase over two lines.
		
		
main.Content(role="main")
	section.Section.u-bgNeutralLight
		.o-container
			.Column--text
				!= partial("../_shared/about-content")
