p
    span Learning to design 
    | is learning to see, an adventure that gets more and more captivating the further you go. A love letter to my profession…

p Our mind is not a camera. Seeing is not a passive act. <em>We see what we expect to see</em>, or, as Anaïs Nin put it so beautifully: “We don’t see things as they are, we see them as we are.”

p The idea that our perception is as much a result of what we are able to know as of what we expect to find is not new. Immanuel Kant’s <em>Critique of Pure Reason</em> is based on this insight:

blockquote
    p “Up to now it has been assumed that all our cognition must conform to the objects; but […] let us once try whether we do not get further […] by assuming that the objects must conform to our cognition.”

p In the meantime, cognitive psychology has followed Kant’s “Copernican Revolution-in-reverse”. Our perception is defined by what cognitive psychologists call a “perceptual set”.

blockquote
    p
        | “Perceptual set is a tendency to perceive or notice some aspects of the available sensory data and ignore others. […] perceptual set works in two ways:
        br
        | 1. The perceiver has certain expectations and focuses attention on particular aspects of the sensory data […]
        br
        | 2. The perceiver knows how to classify, understand and name selected data and what inferences to draw from it […].”
        br
        | — Perceptual Set, by Saul McLeod

p The way expectation can influence our cognitive set can be illustrated easily.
