//- p Box+Dice makes software for the Real Estate industry, in Melbourne, Australia. Working with the business owner over two years, I devised a highly polished brand identity—for print and interfaces—that spoke to it's Real Estate ‘visual achiever’ archetype users.

figure.lg
    img(src='/img/boxdice-logo.jpg', data-action='zoom')


p Box+Dice supplies enterprise CRM software products to, and dominates, the Victorian Real Estate industry. The essence of Box+Dice is that of the Real Estate ‘visual achiever’ archetype.

p For the logotype I redesigned (above), I adapted the letterforms of the Klavika typeface and introduced a 'bluescape' colour system. I also introduced a tag-line, to stand in stark contrast with poorly-executed original (below).
    
figure
    img(src='/img/boxdice-logo-orig.png', data-action='zoom')

p For each product in the software range—named by the business owner in consultation with myself—the logo used hand-drawn custom lettering with the bluescape colour system. The logos work on both white and bluescape backgrounds. The iPad app icon, designed 18 months after the product suite logos, is a natural progression.

figure.sm
    img(src='/img/boxdice-logo-suite.png', data-action='zoom')

p We applied this identity to exhibition displays and wall prints for Box+Dice's sponsorship of the AREC conference in Sydney for three consecutive years.

figure.stroked
    img(src='/img/boxdice-wall.jpg', data-action='zoom')
    
p The identity system was expanded across a wide range of external marketing and support collateral and internal administration forms that required a flexible typographic system.

figure.stroked
    img(src='/img/boxdice-forms.jpg', data-action='zoom')

h3 Learning to code by rebuilding the website
p The website was then redesigned to match the new identity. It was at this point in my career that I was encourage to learn to code. Working alonside a team of Ruby developers who took pride in their daily stand-ups and agile development methods, I was pushed to give it a go, and despite much initial frustration, I began come to grips with a very new way of working and learn how to think in code.

figure
    img(src='/img/boxdice-website.png', data-action='zoom')

h3 An interface made of typography
p The site consists of classic, legible typography. Interface elements were simply typographic variations. Icons and primary buttons were accentuated with highlight colours.

p Han characters served as icons in an interactive block that explains what conditions and treatments Bellflower accomodates. By folding away the treatments and conditions until interaction, we were able to simplify content for a simpler, faster home page.

//- section
//-     h3 Further case studies
//-     != partial("../_shared/work-projects")
