.Article-footer.Media
    .Article-authorImage.Media-figure
        img(src="../img/avatar.jpg", alt="")
    .Media-body
        != partial("../shared/article-data")
        p Patternworks is a digital creative workshop in Cairns, Australia, run by Callum Flack. We make the complex simple. Got a need, a problem, an idea? #[a(href="/about") Learn more] or get in touch via #[a(href="mailto:callumflack@gmail.com?subject=Project inquiry&body=Hi Patternworks,%0D%0A%0D%0AI have a need / a problem / a new idea / other: ______. Our site is ______.%0D%0A%0D%0AHow do we proceed form here?%0D%0A%0D%0AKind regards, Your Name") email] or #[a(href="https://twitter.com/callumflack") twitter].


//- #[a(href="/about") Learn more] or 
//- or #[a(href="https://twitter.com/callumflack") twitter]
