h1.Title Through collaboration and feedback, I eliminate the unnecessary so that the necessary may speak.
h1.Title Because I can build what I design, I know how things work, can optimise for change and turn blind spots into opportunity.
h1.Title We believe design is not only how it looks, but how it works. That’s why we build what we design.<br>
h1.Title Because the experience demands it.

# Headers
## Home
Are you worth the time?
Are you being seen in the crowd?
Do people listen to your story?
Are you telling your story in way people care for?
Do people listen to your story?
Your online brand is the sum of all it’s details. 
Do your customers/users think you're worth the time?
Nobody cares about your product. Fundamentally, what users care about is themselves.
Are you giving yourself the best possible chance?

Useful. Augmentative. Clear. Delightful.
truth. effort. courage.
we move quickly from talkign to doing
we make the complex simple.
brands, products, campaigns and interactive experiences for every screen. (instrument/work)

I plan, design & build for the web.

This helps me design for outcomes, 

//- p Patternworks is the solo digital product workshop of Callum Flack, in Cairns, Australia.
//- p Patternworks is the digital communications workshop of Callum Flack, in Cairns, Australia.
//- p I plan, design and build identities and websites that resonate by a focussing on outcomes and executing with detail. #[a(href="/about") Read about my approach]. 
//- p.Text
    != partial("contact-points")
//- p Patternworks creates digital identities and communications that resonate by focussing on outcomes and executing with detail. #[a(href="/about") Read about my approach].

//- p 
    //- span.Emphasis When it's so easy to be online, how can you stand out in a crowd?
    span.Emphasis How can you stand out in a crowd?
//- p Patternworks creates digital identities and communications that resonate by focussing on outcomes and stacking up details. 
//- p.Em Brands, products, campaigns and interactive experiences for every screen. 
//- p.Em The difference is the sum of small details.
//- p.Em Delightful, considered experiences for every screen.
//- p.Em creates digital identities and communications that resonate by focussing on outcomes and stacking up details. 
//- p
    //- | Patternworks is the solo workshop of Callum Flack, based in Cairns, Australia. 
    | Read about my #[a(href="/about") approach], or get in touch via: 
    a(href="mailto:callumflack@gmail.com") email
    span &nbsp;• 
    a(href="https://twitter.com/callumflack") twitter
    span &nbsp;• 
    a(href="tel:+610-408-767-540") +61(0)408 767 540

//- p.Em Delightful. Clear. Useful. Augmentative. #[span Considered experiences for every screen.]
//- p.Tint
//-     | To know more, read about my #[a(href="/about") approach], get in touch by 
//-     a(href="mailto:callumflack@gmail.com") email
//-     span &nbsp;or 
//-     a(href="https://twitter.com/callumflack") twitter
//-     //- | &nbsp;. Or just keep scrolling #[span.Icon ↓]
//-     | &nbsp;. Or scroll.

//- p.Amp Delightful. Clear. Useful. Augmentative. #[span Considered experiences for every screen.]
//- p.Amp Delightful, clear and considered identities for every screen. 

//- h1.Display Plan, design & build delightful, clear and considered experiences for every screen. 
//- h2.Display Scroll to view recent work. Learn #[a(href="/about") about us] or #[a(href="mailto:callumflack@gmail.com?subject=Project inquiry&body=Hi Patternworks,%0D%0A%0D%0AI have a need / a problem / a new idea / other: ______. Our site is ______.%0D%0A%0D%0AHow do we proceed form here?%0D%0A%0D%0AKind regards, Your Name") get in touch#[span.Nav-pointer →]]

//- nav.Nav.Nav--main(role="navigation")
//-     ul
//-         li #[a(href="#") #[span Recently#[span.Nav-pointer ↓]]]
//-         //- li #[a(class="#{ current.path[0] == 'work' ? 'is-active' : '' }" href="/work") #[span Work]]
//-         li #[a(class="#{ current.path[0] == 'approach' ? 'is-active' : '' }" href="/about") #[span About]]
//-         li #[a(href="mailto:callumflack@gmail.com?subject=Project inquiry&body=Hi Patternworks,%0D%0A%0D%0AI have a need / a problem / a new idea / other: ______. Our site is ______.%0D%0A%0D%0AHow do we proceed form here?%0D%0A%0D%0AKind regards, Your Name") Contact#[span.Nav-pointer →]]

//- .Display
//-     a(href="mailto:callumflack@gmail.com?subject=Project inquiry&body=Hi Patternworks,%0D%0A%0D%0AI have a need / a problem / a new idea / other: ______. Our site is ______.%0D%0A%0D%0AHow do we proceed form here?%0D%0A%0D%0AKind regards, Your Name") Get in touch#[span.Nav-pointer →]

We help you make products your customers will use. Learn more.
- https://knowyourcompany.com/story

//- a(href="#start") Starting with Why, ending with rememberance.



## approach
eliminate the unnecessary so that the necessary may speak
Useful, engaging, augmentative

Patternworks is the solo digital design consultancy of Callum Flack. 

With 15 years in the business, his work is about taking things that are complex and making them understandable. 
He's worked in advertising and design agencies, startups, publishing houses, and for his own record label, in Brisbane, London, Melbourne and Sydney.

p I'm also an amateur musicologist. I live with my family in the tropics of Cairns, where I dehumidify my record collection weekly.

Because design is more than how it looks, it's how it works. 

I understand deeply how brand, usability and technical domains of digital communications interplay.

//- p Eliminate the unnecessary so that the necessary may speak.
//- p.Em Fifteen years of visual communication knowhow.
//- p.Em Fifteen years of creating customers through problem-solving.
//- p.Em Fifteen years of creative problem-solving to get the story out.
//- p.Em Fifteen years of creative problem-solving to tell stories that customers care for.
//- p.Em Fifteen years of making the complex simple.
//- p.Tint Patternworks is the independent digital communications workshop of Callum Flack, located in Cairns, Australia.
//- span.Em For the territory, not the map.


## why code?
This helps me design for purpose and systems instead of impressions and style,

p Like most learning efforts, it began with disappointment. The standard of the digital projects I was involved at the time were subpar. So I decided—without any prior programming experience—to learn how to build interfaces myself. The rewards have far outweighed the pain, and introduced me to new ways of thinking about the world.


## work
Design has to work. Art does not.
eliminate the unnecessary so that the necessary may speak
//- p Telling brand stories online.


## article footer

p Patternworks is the digital creative workshop of Callum Flack, in Cairns, Australia. He takes complex concepts and makes them into understandable, actionable stories. #[a(href="/about") Learn more] or send an #[a(href="mailto:callumflack@gmail.com?subject=Project inquiry&body=Hi Patternworks,%0D%0A%0D%0AI have a need / a problem / a new idea / other: ______. Our site is ______.%0D%0A%0D%0AHow do we proceed form here?%0D%0A%0D%0AKind regards, Your Name") email].



## footers
//- em Patternworks is a digital identity & communications workshop.#[br]
//- em Patternworks. Digital identities & communications that resonate.#[br]
//- em Patternworks. Digital identities that resonate.#[br]
//- em Patternworks. Considered experiences for every screen.#[br]
//- b Patternworks. Considered experiences for every screen.#[br]


p.u-textSm.u-textGrey.u-childLinkParagraph Flack Design + Development is a studio for screen (and print) in Sydney, Australia. Services include IA, UX, UI, web design, app design, interaction design, responsive device design, identity design, creative direction and digital strategy. Call +61(0) 408 767 540 or&nbsp;

p.u-textSm.u-textGrey.u-childLinkParagraph Flack Design + Development is a studio that makes useful, engaging interfaces for screens of all sizes and kinds. We work across all media (including print) as the strategy demands. Services include brand strategy, digital strategy, IA, UX, UI, web design, app design, interaction design, responsive device design, identity design and creative direction. We're native to Sydney, Australia. Call +61(0) 408 767 540 or&nbsp;
    a(href="/about") find out more about us.

p.u-marginTX13
    a.u-textSm.Button.Button--inlineList.Button--transSweep(href="#") +61(0) 408 767 540
    a.Button.Button--inlineList.Button--transSweep(href="#work") See the work
    a.Button.Button--inlineList.Button--transSweep(href="#journal") Read the journal
    a.Button.Button--inlineList.Button--transSweep(href="#contact") Get in touch
    a.Button.Button--inlineList.Button--transSweep(href="#contact") Twitter
    span.Meta.Meta--inlineList Sydney, Australia

    a.Button.Button--inlineList.Button--transSweep(href="/about") About
    a.Button.Button--inlineList.Button--transSweep(href="#work") Work
    a.Button.Button--inlineList.Button--transSweep(href="#journal") Blog
    a.Button.Button--inlineList.Button--transSweep(href="#contact") Contact
    a.Button.Button--inlineList.Button--transSweep(href="#contact") Follow
    span.Meta.Meta--inlineList Sydney, Australia



section.Section.Fold(role='more-information')
    a.Fold-toggle.fullWidth(href='#', data-toggle='1')
        p What exactly can you do? #[span.Pointer.Pointer--rightAlign ↑]

    .Fold-target(data-content='1')
        p With my broad skillset, I can help at almost any stage of the digital project lifecycle. Clients commonly come to me to improve existing brands or products—whether auditing or redesigning brand identities, interfaces, and user journeys, or adding, updating and fixing features in development—or to to help create new, best-in-class sites and apps from scratch.

    a.Fold-toggle.fullWidth(href='#', data-toggle='2')
        p Do you make responsive mobile websites? #[span.Pointer.Pointer--rightAlign ↑]
        //- p Do you make responsive sites for the mobile web? #[span.Pointer.Pointer--rightAlign ↑]

    .Fold-target(data-content='2')
        p Almost everyone now has a supercomputer in their pocket (that is, a  #[em smartphone]) and we use them, on average, once every 5 minutes. Your digital comms will depend on mobile, now or very soon. So every web project I produce is responsive by default, which means it will adapt to the screen size of any internet device. Flack D+D specialises in responsive, performant mobile websites.
        
    a.Fold-toggle.fullWidth(href='#', data-toggle='3')
        p What are the steps involved in a project? #[span.Pointer.Pointer--rightAlign ↑]

    .Fold-target(data-content='3')
        p Work engagement begins by auditing current communications and with a roadmapping session to obtain an agreed scope of work. The process is divided into logical steps and is done iteratively and—importantly—in partnership with you. 

    a.Fold-toggle.fullWidth(href='#', data-toggle='4')
        p How much does a typical project cost? #[span.Pointer.Pointer--rightAlign ↑]

    .Fold-target(data-content='4')
        p The web is wide and varied in scope; there's no one size fits all. So it depends on the strategy we define together and the resulting mix of market, technology, and business requirements. The work is always tailored to your budget. Get in touch to find out more.
            


.FlexGrid.Fold-item--smGrey.u-marginB0
    .FlexGrid-item
        p Strategy
        ul
            li naming
            li brand positioning
            li brand architecture
            li brand guardianship
            li competitor and communications audits
            li tone of voice
            li interviews and customer journeys

    .FlexGrid-item
        p Design
        ul
            li brand identity
            li brand styleguides
            li responsive websites
            li iOS & Android apps
            li web apps
            li app prototyping
            li MVPs
            li ecommerce
            li literature
            li packaging

    .FlexGrid-item.is-double
        p Development
        ul
            li HTML5 & CSS3
            li javascript & jquery
            li enough Ruby on Rails & PHP
            li I love HarpJS
            li Gulp & Grunt
            li Phonegap
            li Statamic
            li Wordpress
            li Craft
            li Shopify
            li Mailchimp
