footer.Footer(role="contentinfo")
	.Container
		.HzRule
		p.u-textSm.u-textCenter Copyright © 2016 Patternworks


//- p 
	:markdown
		Patternworks is a digital creative workshop. We plan, design and build engaging, human user experiences. Get in touch by [email](mailto:hi@patternworks.com.au?subject=Project inquiry&body=Hi Patternworks,%0D%0A%0D%0AI have a need / a problem / a new idea / other: ______. Our site is ______.%0D%0A%0D%0AHow do we proceed form here?%0D%0A%0D%0AKind regards, Your Name), by calling [+61(0) 408 767 540](tel:+610-408-767-540), or keep up to date with us on <a href="https://twitter.com/patternworks_">twitter</a>.
