header.Header(role="banner")
	.Block
		.Nav-wrapper
			.o-aligner
				.o-aligner-item
					.o-container
						.Column--text
							!= partial("nav-toggle")
		.o-aligner
			.o-aligner-item
				.o-container
					.Block-text
						if current.path[0] === "index"
							h1.Display--su= public._data.index.headline
							p We create websites and apps that fast, easy and delightful. #[a(href="/about") Learn more.]
						if current.path[0] === "work"
							h1.Display--su= public._data.work.headline
						
