script(type='application/ld+json').
	{
		"@context": "http://www.schema.org",
		"@type": "ProfessionalService",
		"name": "Patternworks",
		"url": "http://www.patternworks.com.au/",
		"sameAs": [
			"http://patternworks.com.au/",
			"https://twitter.com/patternworks_"
		],
		"logo": "http://www.patternworks.com.au/assets/images/patternworks-logo.png",
		"image": "Patternworks",
		"description": "Fast, easy and delightful websites and apps that help companies discover, design and build great customer experiences.",
		"email": "mailto:hi@patternworks.com.au",
		"address": {
			"@type": "PostalAddress",
			"streetAddress": "16 Ponticello St, Whitfield",
			"addressLocality": "Cairns",
			"addressRegion": "Queensland",
			"postalCode": "4870",
			"addressCountry": "Australia"
		},
		"geo": {
			"@type": "GeoCoordinates",
			"latitude": "16.908987",
			"longitude": "145.727694"
		},
		"hasMap": "https://goo.gl/maps/Ufn3x6S7tZ82",
		"openingHours": "Mo, Tu, We, Th, Fr 09:00-17:30",
		"contactPoint": {
			"@type": "ContactPoint",
			"contactType": "Telephone",
			"telephone": "+61(0) 408 767 540",
			"contactType": "Email",
			"email": "mailto:hi@patternworks.com.au"
		}
	}
