.Nav-toggle(data-modal-toggle)
	h1.Headline--sm.u-marginB0 
		if current.path[0] === "index"
			| Patternworks
			!= partial("nav-icon")
		if current.path[0] === "work"
			| Work
		if current.path[0] === "about"
			| About
			!= partial("nav-icon")
		
