nav.Nav.Nav--animateIn(role="navigation")
	.o-listInline.u-textRight
		h1.Nav-item.Nav-item--left: a(href="/") Patternworks
		.Nav-item: a(class="#{ current.path[0] == 'work' ? 'is-active' : '' }" href="/work") Work
		.Nav-item: a(class="#{ current.path[0] == 'blog' ? 'is-active' : '' }" href="/blog") Blog
		.Nav-item: a(class="#{ current.path[0] == 'about' ? 'is-active' : '' }" href="/about") About
