.Slide(style="background-color:aliceblue")
	.FlexEmbed
		.FlexEmbed-ratio.FlexEmbed-ratio--hero
		.FlexEmbed-content
			.Hero-wrapper
				.Hero.Hero--right
					img(src="images/hero-phn.png", alt="")
			.o-aligner
				.o-aligner-item
					.o-container
						.Block--narrow
							h1.Display Cases of study
							p Bub City
							p.Text--meta Read case study
